.pageTitle {
    background-color: white;
    border-bottom: 0.1vw solid #7070705d;
    padding: 0.5vw 1vw;
    font-size: 1.4vw;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  /* //////////////////////////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////////////////////////// */
  .navBar {
    height: 2.8vw;
    border-bottom: 0.1vw solid #7070705d;
    display: flex;
    align-items: flex-end;
    background-color: white;
  }
  .navBarEach,
  .navBarEach_ {
    color: #888888;
    font-size: 1vw;
    padding: 0 0.5vw;
    cursor: pointer;
    text-align: center;
    width: 7vw;
  }
  .navBarEach_ {
    color: #00649e;
  }
  .navBarEachLine,
  .navBarEachLine_ {
    height: 0.3vw;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    margin-top: 0.4vw;
    min-width: 5.5vw;
  }
  .navBarEachLine_ {
    background-color: #069bf2;
  }
  /* //////////////////////////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////////////////////////// */