<div class="pageTitle">
  <div
    *ngIf="addPurchase !== null || addPurchaseOrder !== null"
    (click)="addPurchase = null; addPurchaseOrder = null"
    class="arrowBack"
  ></div>
  {{ addPurchase !== null ? "NEW " : "" }}PURCHASE{{
    addPurchaseOrder !== null ? " ORDER " : ""
  }}
</div>
<div *ngIf="addPurchase === null && addPurchaseOrder === null">
  <div class="navBarLayout">
    <div class="navBar">
      <div
        [ngClass]="page === 0 ? 'navBarEach_' : 'navBarEach'"
        (click)="page = 0"
      >
        <div style="padding: 0 0.8vw">Purchase Orders</div>
        <div
          [ngClass]="page === 0 ? 'navBarEachLine_' : 'navBarEachLine'"
        ></div>
      </div>
      <div
        [ngClass]="page === 1 ? 'navBarEach_' : 'navBarEach'"
        (click)="page = 1"
      >
        <div style="padding: 0 0.8vw">Goods Received Note</div>
        <div
          [ngClass]="page === 1 ? 'navBarEachLine_' : 'navBarEachLine'"
        ></div>
      </div>
    </div>
    <div class="navButtonBar">
      <input
        placeholder="Search an invoice"
        class="defaultInput"
        style="margin-right: 1vw"
      />Showing: &nbsp;
      <select class="defaultInput">
        <option>All Entries</option>
      </select>
      <input style="margin-left: 1vw" type="date" class="defaultInput" />&nbsp;
      to &nbsp; <input type="date" class="defaultInput" />
      <select class="defaultInput" style="margin: 0 1vw">
        <option>Today</option>
      </select>
      <div class="downloadButton"></div>
      <div class="blueButton" (click)="onClickNewPurchase()">
        {{ page === 0 ? "+ Purchase Order" : "+ New Purchase" }}
      </div>
    </div>
  </div>
  <div class="tableBody" *ngIf="page === 0">
    <div class="table">
      <div class="header">
        <div></div>
        <div style="width: 10%">PON#</div>
        <div style="width: 10%">DATE</div>
        <div style="width: 35%">SUPPLIER</div>
        <div style="width: 15%; text-align: right">TOTAL</div>
        <div style="width: 15%; text-align: right">ACTION</div>
        <div></div>
      </div>
      <div class="body">
        <div
          class="row"
          *ngFor="let it of allPurchaseOrder?.content"
          style="cursor: pointer"
          (click)="setPopup({ path: 'purchaseOrderView' })"
        >
          <div></div>
          <div class="content" style="width: 10%; color: var(--myColor)">
            {{ it?.pon }}
          </div>
          <div class="content" style="width: 10%">{{ it?.date }}</div>
          <div class="content" style="width: 35%; color: var(--myColor)">
            {{ it?.supplier }}
          </div>
          <div class="content" style="width: 15%; text-align: right">
            {{ it?.total }}
          </div>
          <div
            class="content"
            style="width: 15%; text-align: right; color: var(--myColor)"
          >
            {{ it?.action }}
          </div>
          <div></div>
        </div>
      </div>
    </div>
    <app-table-paging [paging]="allPurchaseOrder?.paging"></app-table-paging>
  </div>
  <div class="tableBody" *ngIf="page === 1">
    <div class="table">
      <div class="header">
        <div style="width: 10%">GRN#</div>
        <div style="width: 10%">DATE</div>
        <div style="width: 22%">SUPPLIER</div>
        <div style="width: 10%">INVOICE #</div>
        <div style="width: 12%; text-align: right">TOTAL</div>
        <div style="width: 12%; text-align: right">AMOUND DUE</div>
        <div style="width: 8%; text-align: right">STATUS</div>
      </div>
      <div class="body">
        <div
          class="row"
          *ngFor="let it of allGoodsNotes?.content"
          style="cursor: pointer"
          (click)="setPopup({ path: 'goodsRecivedView' })"
        >
          <div class="content" style="width: 10%">{{ it?.grn }}</div>
          <div class="content" style="width: 10%">{{ it?.date }}</div>
          <div class="content" style="width: 22%">{{ it?.supplier }}</div>
          <div class="content" style="width: 10%">{{ it?.invoice }}</div>
          <div class="content" style="width: 12%; text-align: right">
            {{ it?.total }}
          </div>
          <div class="content" style="width: 12%; text-align: right">
            {{ it?.amountDue }}
          </div>
          <div class="content" style="width: 8%; text-align: right">
            {{ it?.status }}
          </div>
        </div>
      </div>
    </div>
    <app-table-paging [paging]="allGoodsNotes?.paging"></app-table-paging>
  </div>
</div>
<!-- /////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////// -->
<!-- PURCHASE ORDER FORM -->
<div class="formLayout" *ngIf="addPurchaseOrder !== null">
  <div
    class="formHeaderBox"
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <div style="width: 16%">
      <div>Supplier*</div>
      <input
        class="defaultInput"
        placeholder="Search for a supplier"
        style="width: 100%"
      />
    </div>
    <div style="width: 10%">
      <div>&nbsp;</div>
      <input class="defaultInput" style="width: 100%" type="date" />
    </div>
    <div style="width: 10%">
      <div>Deliver by</div>
      <input class="defaultInput" style="width: 100%" type="date" />
    </div>

    <div style="width: 16%">
      <div>Paid From Account*</div>
      <input
        class="defaultInput"
        placeholder="Search for a supplier"
        style="width: 100%"
      />
    </div>
    <div style="width: 16%">
      <div>Payment Method*</div>
      <input
        class="defaultInput"
        placeholder="Search for a supplier"
        style="width: 100%"
      />
    </div>

    <div style="width: 10%">
      <div>Payment Date*</div>
      <input class="defaultInput" type="date" style="width: 100%" />
    </div>
    <div style="width: 16%">
      <div>Reference*</div>
      <input
        class="defaultInput"
        placeholder="Reference"
        style="width: 100%"
      />
    </div>
  </div>
  <div class="formTableHeader">
    <div class="value" style="width: 3%"></div>
    <div class="value" style="width: 40%">Product</div>
    <div class="value" style="width: 10%">Qty</div>
    <div class="value" style="width: 10%">Cost</div>
    <div class="value" style="width: 10%">Branch Price</div>
    <div class="value" style="width: 12%">Tax Slab</div>
    <div class="value" style="width: 15%">Total</div>
  </div>
  <div class="formTableBody">
    <div
      class="formTableRow"
      *ngFor="let it of addPurchaseOrderForm?.items; let k = index"
    >
      <div
        class="value formDelete"
        style="width: 3%"
        (click)="onClickPurchaseOrderDltItem(k)"
      ></div>
      <div class="value" style="width: 40%">
        <select
          class="defaultSelect"
          style="width: 100%"
          [ngModel]="null"
          (ngModelChange)="onChangePurchaseOrderItem(it)"
        >
          <option value="null" hidden>SELECT PRODUCT</option>
          <option>Product 1</option>
          <option>Product 12</option>
          <option>Product 13</option>
          <option>Product 14</option>
        </select>
      </div>
      <div class="value" style="width: 10%">
        <input
          class="defaultInput"
          placeholder="0.00"
          style="width: 100%; text-align: right"
        />
      </div>
      <div class="value" style="width: 10%">
        <input
          class="defaultInput"
          placeholder="0.00"
          style="width: 100%; text-align: right"
        />
      </div>
      <div class="value" style="width: 10%">
        <input
          class="defaultInput"
          placeholder="0.00"
          style="width: 100%; text-align: right"
        />
      </div>
      <div class="value" style="width: 12%">
        <select class="defaultSelect" style="width: 100%">
          <option>No Tax</option>
        </select>
      </div>
      <div class="value" style="width: 15%; padding: 0.5vw">89,800.00</div>
    </div>
  </div>
  <div
    class="formHeaderBox"
    style="display: flex; justify-content: space-between"
  >
    <div style="width: 44%">
      <div style="width: 100%">
        <div>Delivery Address</div>
        <textarea
          class="defaultInput"
          style="width: 100%; height: 5vw"
          placeholder="Address..."
        ></textarea>
      </div>
      <br />
      <div style="width: 100%">
        <div>Purchase Note</div>
        <textarea
          class="defaultInput"
          style="width: 100%"
          placeholder="Enter notes here"
        ></textarea>
      </div>
    </div>
    <div style="width: 35%; line-height: 3vw">
      <br />
      <div style="width: 100%; display: flex; justify-content: space-between">
        <div>Subtotal</div>
        <div>1,19,700.00</div>
      </div>
      <div style="width: 100%; display: flex; justify-content: space-between">
        <div>Tax</div>
        <div>1,19,700.00</div>
      </div>
      <div
        style="
          width: 100%;
          display: flex;
          justify-content: space-between;
          font-size: 1vw;
        "
      >
        <div>Total</div>
        <div>1,19,700.00</div>
      </div>
    </div>
  </div>
  <div class="formFooterBar">
    <MyButtons
      [type]="'listButton'"
      [label]="'SAVE & PRINT'"
      [dropList]="['Save & New', 'Save']"
      [onSelect]="onClickSavePurchaseOrder"
    ></MyButtons>
    <button class="blueButton">CLOSE</button>
  </div>
</div>

<!-- /////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////// -->
<!-- PURCHASE FORM -->
<div class="formLayout" *ngIf="addPurchase !== null">
  <div
    class="formHeaderBox"
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <div style="width: 11%">
      <div>Ref/PO#</div>
      <input class="defaultInput" style="width: 100%" />
    </div>
    <div style="width: 11%">
      <div>Supplier Invoice #</div>
      <input
        class="defaultInput"
        placeholder="Supplier invoice"
        style="width: 100%"
      />
    </div>
    <div style="width: 18%">
      <div>Supplier*</div>
      <input
        class="defaultInput"
        placeholder="Search for a supplier"
        style="width: 100%"
      />
    </div>
    <div style="width: 11%">
      <div>Purchase Date*</div>
      <input class="defaultInput" style="width: 100%" type="date" />
    </div>
    <div style="width: 11%">
      <div>Due Date</div>
      <input class="defaultInput" style="width: 100%" type="date" />
    </div>
    <div style="width: 11%">
      <div>Contact Person</div>
      <input class="defaultInput" style="width: 100%" />
    </div>
    <div style="width: 18%">
      <div>Address</div>
      <div style="font-weight: normal">
        Conquer Traders Pvt Ltd, 102A, 3333 W Touhy Ave Lincolnwood, Indiana
        60712, United States
      </div>
    </div>
  </div>
  <div class="formTableHeader">
    <div class="value" style="width: 3%"></div>
    <div class="value" style="width: 40%">Product</div>
    <div class="value" style="width: 10%">Qty</div>
    <div class="value" style="width: 10%">Cost</div>
    <div class="value" style="width: 10%">Branch Price</div>
    <div class="value" style="width: 12%">Tax Slab</div>
    <div class="value" style="width: 15%">Total</div>
  </div>
  <div class="formTableBody">
    <div
      class="formTableRow"
      *ngFor="let it of addPurchaseForm?.items; let k = index"
    >
      <div
        class="value formDelete"
        style="width: 3%"
        (click)="onClickPurchaseDltItem(k)"
      ></div>
      <div class="value" style="width: 40%">
        <select
          class="defaultSelect"
          style="width: 100%"
          [ngModel]="null"
          (ngModelChange)="onChangePurchaseItem(it)"
        >
          <option value="null" hidden>SELECT PRODUCT</option>
          <option>Product 1</option>
          <option>Product 12</option>
          <option>Product 13</option>
          <option>Product 14</option>
        </select>
      </div>
      <div class="value" style="width: 10%">
        <input
          class="defaultInput"
          placeholder="0.00"
          style="width: 100%; text-align: right"
        />
      </div>
      <div class="value" style="width: 10%">
        <input
          class="defaultInput"
          placeholder="0.00"
          style="width: 100%; text-align: right"
        />
      </div>
      <div class="value" style="width: 10%">
        <input
          class="defaultInput"
          placeholder="0.00"
          style="width: 100%; text-align: right"
        />
      </div>
      <div class="value" style="width: 12%">
        <select class="defaultSelect" style="width: 100%">
          <option>No Tax</option>
        </select>
      </div>
      <div class="value" style="width: 15%; padding: 0.5vw">89,800.00</div>
    </div>
  </div>
  <div
    class="formHeaderBox"
    style="display: flex; justify-content: space-between"
  >
    <div style="width: 44%">
      <div style="width: 100%">
        <div>Delivery Address</div>
        <textarea
          class="defaultInput"
          style="width: 100%; height: 5vw"
          placeholder="Address..."
        ></textarea>
      </div>
      <br />
      <div style="width: 100%">
        <div>Purchase Note</div>
        <textarea
          class="defaultInput"
          style="width: 100%"
          placeholder="Enter notes here"
        ></textarea>
      </div>
    </div>
    <div style="width: 35%; line-height: 3vw">
      <br />
      <div style="width: 100%; display: flex; justify-content: space-between">
        <div>Subtotal</div>
        <div>1,19,700.00</div>
      </div>
      <div style="width: 100%; display: flex; justify-content: space-between">
        <div>Tax</div>
        <div>1,19,700.00</div>
      </div>
      <div
        style="
          width: 100%;
          display: flex;
          justify-content: space-between;
          font-size: 1vw;
        "
      >
        <div>Total</div>
        <div>1,19,700.00</div>
      </div>
    </div>
  </div>
  <div class="formFooterBar">
    <MyButtons
      [type]="'listButton'"
      [label]="'SAVE & PRINT'"
      [dropList]="['Save & Add New', 'Save & Payment']"
      [onSelect]="onClickSavePurchase"
    ></MyButtons>
    <button class="blueButton">CLOSE</button>
  </div>
  <div
    *ngIf="addPurchaseForm?.saved"
    class="formHeaderBox"
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <div style="width: 13%">
      <div>Amount Paying*</div>
      <input
        class="defaultInput"
        placeholder="0.00"
        type="number"
        style="width: 100%"
      />
    </div>
    <div style="width: 13%">
      <div>Account*</div>
      <select class="defaultInput" style="width: 100%"></select>
    </div>
    <div style="width: 13%">
      <div>Payment Mode*</div>
      <select class="defaultInput" style="width: 100%"></select>
    </div>

    <div style="width: 10%">
      <div>Payment Due*</div>
      <input class="defaultInput" type="date" style="width: 100%" />
    </div>
    <div style="width: 16%">
      <div>Reference*</div>
      <input
        class="defaultInput"
        placeholder="ENter reference / note"
        style="width: 100%"
      />
    </div>
    <button class="blueButton">CANCEL</button>
    <button class="blueButton">SAVE PAYMENT</button>
  </div>
</div>

<!-- ///////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////// Purchase Orders View //////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////// -->
<div
  class="drawer"
  [style]="
    !(popup?.path === 'purchaseOrderView') ? { visibility: 'hidden' } : {}
  "
>
  <div class="dummyBody" (click)="closePopUp()"></div>
  <div
    [ngClass]="popup?.path === 'purchaseOrderView' ? 'body_' : 'body'"
    style="min-width: 62%"
  >
    <div class="header1">
      <div style="display: flex; align-items: center">
        {{ "INV656" }}&nbsp;
        <div class="cStorePopPaid">PAID</div>
      </div>
      <div class="closeBtn" (click)="closePopUp()"></div>
    </div>
    <div class="listBody cStorePop">
      <div class="addresDiv">
        <div style="display: flex">
          <div style="color: #999999; padding-right: 0.5vw">To</div>
          <div style="width: 20vw">
            <div style="font-size: 1.2vw">Shaji Muhammed</div>
            <div style="color: #999999">
              Ozole Digital Pvt Ltd, #4, IKP Knowledge Park Saraswathipuram,
              Mysuru Karnataka, 675 006
            </div>
          </div>
        </div>
        <div
          style="display: flex; flex-direction: column; align-items: flex-end"
        >
          <div style="display: flex">
            <div style="color: #999999">Invoice Date:</div>
            <div style="width: 7vw; text-align: right">Apr 12, 2022</div>
          </div>
          <br />
          <div style="display: flex">
            <div style="color: #999999">Due Date:</div>
            <div style="width: 7vw; text-align: right">Apr 12, 2022</div>
          </div>
        </div>
      </div>
      <div class="cStorePopTableTop">
        <div style="width: 25%">Product</div>
        <div style="width: 10%">Qty</div>
        <div style="width: 10%; text-align: right">Price</div>
        <div style="width: 10%; text-align: right">Discount</div>
        <div style="width: 10%">Tax Slab</div>
        <div style="width: 10%; text-align: right">Tax Amount</div>
        <div style="width: 10%; text-align: right">Total</div>
      </div>
      <div class="cStorePopTableRow" *ngFor="let it of [1, 2, 3, 3]">
        <div style="width: 25%">Product</div>
        <div style="width: 10%">Qty</div>
        <div style="width: 10%; text-align: right">Price</div>
        <div style="width: 10%; text-align: right">Discount</div>
        <div style="width: 10%">Tax Slab</div>
        <div style="width: 10%; text-align: right">Tax Amount</div>
        <div style="width: 10%; text-align: right">Total</div>
      </div>
      <div style="display: flex; justify-content: space-between; padding: 2vw">
        <div style="width: 30vw">
          <div
            style="
              display: flex;
              justify-content: space-between;
              background: #f3f6f6;
              border-radius: 0.5vw;
              padding: 1vw;
            "
          >
            <div>
              <div style="font-size: 0.8vw; color: #999999">Amount Paid</div>
              <div style="font-size: 1vw">4,00,000.00</div>
            </div>
            <div>
              <div style="font-size: 0.8vw; color: #999999">PO Amount</div>
              <div style="font-size: 1vw">INR 46,760.00</div>
            </div>
          </div>
          <br />
          <div style="font-size: 0.8vw; color: #2d4c86">
            Paid 3,00,000.00 on Apr 12, 2022 by UPI
          </div>
          <div style="font-size: 0.8vw; color: #2d4c86">
            Paid 1,00,000.00 on Apr 25, 2022 by Cash
          </div>
        </div>
        <div style="width: 15vw">
          <div style="display: flex; justify-content: space-between">
            <div style="font-size: 0.8vw; color: #999999">Subtotal:</div>
            <div style="font-size: 1vw">4,46,760.00</div>
          </div>
          <div style="font-size: 0.8vw">Tax Breakdown</div>
          <div style="display: flex; justify-content: space-between">
            <div style="font-size: 0.8vw; color: #999999">Subtotal:</div>
            <div style="font-size: 0.8vw">4,46,760.00</div>
          </div>
          <div style="display: flex; justify-content: space-between">
            <div style="font-size: 0.8vw; color: #999999">Subtotal:</div>
            <div style="font-size: 0.8vw">4,46,760.00</div>
          </div>
          <hr />
          <div style="display: flex; justify-content: space-between">
            <div style="font-size: 0.8vw; color: #999999">Total:</div>
            <div style="font-size: 1vw">4,46,760.00</div>
          </div>
          <hr />
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="createBtn" (click)="closePopUp()">OK</div>
    </div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////// Goods Recived Notes View ////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////// -->
<div
  class="drawer"
  [style]="
    !(popup?.path === 'goodsRecivedView') ? { visibility: 'hidden' } : {}
  "
>
  <div class="dummyBody" (click)="closePopUp()"></div>
  <div
    [ngClass]="popup?.path === 'goodsRecivedView' ? 'body_' : 'body'"
    style="min-width: 62%"
  >
    <div class="header1">
      <div style="display: flex; align-items: center">
        {{ "GRN22-0653" }}&nbsp;
        <div class="cStorePopPaid" style="background-color: #f28416">
          PARTIALLY PAID
        </div>
      </div>
      <div class="closeBtn" (click)="closePopUp()"></div>
    </div>
    <div class="listBody cStorePop">
      <div class="addresDiv">
        <div style="display: flex">
          <div style="color: #999999; padding-right: 0.5vw">From</div>
          <div style="width: 20vw">
            <div style="font-size: 1.2vw">Conquer Technologies Pvt Ltd</div>
            <div style="color: #999999">
              Ozole Digital Pvt Ltd, #4, IKP Knowledge Park Saraswathipuram,
              Mysuru Karnataka, 675 006
            </div>
          </div>
        </div>
        <div
          style="display: flex; flex-direction: column; align-items: flex-end"
        >
          <div style="display: flex">
            <div style="color: #999999">Invoice Date:</div>
            <div style="width: 7vw; text-align: right">Apr 12, 2022</div>
          </div>
          <br />
          <div style="display: flex">
            <div style="color: #999999">Due Date:</div>
            <div style="width: 7vw; text-align: right">Apr 12, 2022</div>
          </div>
        </div>
      </div>
      <div class="cStorePopTableTop">
        <div style="width: 25%">Product</div>
        <div style="width: 10%">Qty</div>
        <div style="width: 10%; text-align: right">Price</div>
        <div style="width: 10%; text-align: right">Discount</div>
        <div style="width: 10%">Tax Slab</div>
        <div style="width: 10%; text-align: right">Tax Amount</div>
        <div style="width: 10%; text-align: right">Total</div>
      </div>
      <div class="cStorePopTableRow" *ngFor="let it of [1, 2, 3, 3]">
        <div style="width: 25%">Product</div>
        <div style="width: 10%">Qty</div>
        <div style="width: 10%; text-align: right">Price</div>
        <div style="width: 10%; text-align: right">Discount</div>
        <div style="width: 10%">Tax Slab</div>
        <div style="width: 10%; text-align: right">Tax Amount</div>
        <div style="width: 10%; text-align: right">Total</div>
      </div>
      <div style="display: flex; justify-content: space-between; padding: 2vw">
        <div style="width: 30vw">
          <div
            style="
              display: flex;
              justify-content: space-between;
              background: #f3f6f6;
              border-radius: 0.5vw;
              padding: 1vw;
            "
          >
            <div>
              <div style="font-size: 0.8vw; color: #999999">
                Amount Received
              </div>
              <div style="font-size: 1vw">4,00,000.00</div>
            </div>
            <div>
              <div style="font-size: 0.8vw; color: #999999">
                Amount Outstanding
              </div>
              <div style="font-size: 1vw">INR 46,760.00</div>
            </div>
          </div>
          <br />
          <div style="font-size: 0.8vw; color: #2d4c86">
            Paid 3,00,000.00 on Apr 12, 2022 by UPI
          </div>
          <div style="font-size: 0.8vw; color: #2d4c86">
            Paid 1,00,000.00 on Apr 25, 2022 by Cash
          </div>
        </div>
        <div style="width: 15vw">
          <div style="display: flex; justify-content: space-between">
            <div style="font-size: 0.8vw; color: #999999">Subtotal:</div>
            <div style="font-size: 1vw">4,46,760.00</div>
          </div>
          <div style="font-size: 0.8vw">Tax Breakdown</div>
          <div style="display: flex; justify-content: space-between">
            <div style="font-size: 0.8vw; color: #999999">Subtotal:</div>
            <div style="font-size: 0.8vw">4,46,760.00</div>
          </div>
          <div style="display: flex; justify-content: space-between">
            <div style="font-size: 0.8vw; color: #999999">Subtotal:</div>
            <div style="font-size: 0.8vw">4,46,760.00</div>
          </div>
          <hr />
          <div style="display: flex; justify-content: space-between">
            <div style="font-size: 0.8vw; color: #999999">Total:</div>
            <div style="font-size: 1vw">4,46,760.00</div>
          </div>
          <hr />
        </div>
      </div>
      <div style="padding: 1vw">
        <div style="font-size: 1.1vw; padding-bottom: 0.3vw">
          Record Payment
        </div>
        <div
          style="
            border: 0.1vw solid #c6d5fb;
            border-radius: 0.5vw;
            background-color: #f3f6f6;
            padding: 1vw;
          "
        >
          <div
            style="
              display: flex;
              justify-content: space-between;
              font-size: 0.8vw;
            "
          >
            <div style="width: 19%">
              <div style="font-size: 0.8vw">Amount paying*</div>
              <input style="width: 100%" placeholder="0.00" type="number" />
            </div>

            <div style="width: 19%">
              <div style="font-size: 0.8vw">Account*</div>
              <select style="width: 100%" placeholder="0.00">
                <option>Select Account</option>
              </select>
            </div>

            <div style="width: 19%">
              <div style="font-size: 0.8vw">Payment mode*</div>
              <select style="width: 100%" placeholder="0.00">
                <option>Cheque</option>
              </select>
            </div>
            <div style="width: 19%">
              <div style="font-size: 0.8vw">Payment Due</div>
              <input style="width: 100%" type="date" />
            </div>
            <div style="width: 19%">
              <div style="font-size: 0.8vw">Reference</div>
              <input style="width: 100%" placeholder="0.00" />
            </div>
          </div>
          <div
            style="display: flex; justify-content: flex-end; padding-top: 0.6vw"
          >
            <div style="padding: 0.3vw 1vw; font-size: 0.8vw" class="canceBtn">
              CANCEL
            </div>
            <div style="padding: 0.3vw 1vw; font-size: 0.8vw" class="createBtn">
              SAVE
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="createBtn" (click)="closePopUp()">OK</div>
    </div>
  </div>
</div>