<div class="contentBody">
  <div class="text1">PUMP STATUS</div>
  <div class="listBody">
    <div
      class="eachPump"
      [ngStyle]="{ border: it.isLock ? '0.11vw dashed #2a426d' : '' }"
      *ngFor="let it of allPumpStatus"
    >
      <div class="pumpRow1">
        <div class="pumpProdectLine text2">
          <div>{{ it.title }}</div>
          <div [style]="{ color: it.color }">{{ it.product }}</div>
        </div>
        <div class="menuIcon"></div>
      </div>
      <div class="pumpMidileLayer">
        <div
          class="pumpMidileLayerIcon"
          [style]="{
            backgroundImage:
              it.status === 'CALLING' || it.status === 'SALE END'
                ? 'url(../../../assets/pump/calling.svg)'
                : it.status === 'AUTHORISED'
                ? 'url(../../../assets/pump/authorised.svg)'
                : 'url(../../../assets/pump/idle.svg)'
          }"
        ></div>
        <div style="width: 35%">
          <div class="pumpTotal">{{ it.sale }}</div>
          <div class="pumpQty">{{ it.qty }}</div>
          <div class="pumpPrice">RSP {{ it.price }}</div>
          <div class="pumpLockStatusRow">
            <div class="pumpLockStatusRow-download"></div>
            <div
              [ngClass]="
                it.isLock
                  ? 'pumpLockStatusRow-locked'
                  : 'pumpLockStatusRow-lock'
              "
            ></div>
          </div>
        </div>
      </div>
      <div
        class="pumpStatusRow"
        [style]="{
          color:
            it.status === 'IDLE'
              ? '#3F4147'
              : it.status === 'CALLING'
              ? '#033DB2'
              : it.status === 'AUTHORISED'
              ? '#03B271'
              : it.status === 'STOP'
              ? '#FF0101'
              : it.status === 'SALE END'
              ? '#B20303'
              : '#406CA5'
        }"
      >
        {{ it.isLock ? it.lockContent : it.status }}
      </div>
    </div>
  </div>
</div>
<div class="contentBody">
  <div class="text1">NOZZLE STATUS</div>
  <div class="listBody">
    <div
      class="eachNozzle"
      [style]="it.isLock ? { border: '0.12vw dashed #2a416d' } : {}"
      *ngFor="let it of allNozzleStatus"
    >
      <div
        class="nozzileIcon"
        [ngClass]="
          it.isLock ? 'lock' : it.status === 'FUELING' ? 'fueling' : ''
        "
      ></div>
      <div class="nozzileDetails">
        <div class="text2" style="font-weight: 500">{{ it.title }}</div>
        <div class="nozzileRow2 text2">
          <div [style]="{ color: it.color }">{{ it.product }}</div>
          <div
            class="status"
            [style]="
              it.isLock
                ? { color: '#00649E', fontSize: '.7vw' }
                : {
                    backgroundColor:
                      it.status === 'STOP' ? '#B20303' : '#03b271'
                  }
            "
          >
            {{ it.isLock ? "PRESET INTERLOCK" : it.status }}
          </div>
        </div>
        <div class="nozzileDesc">{{ it.content }}</div>
      </div>
    </div>
  </div>
</div>
