<app-nav-page
  *ngIf="page === ''"
  title="Configuration"
  [items]="subTitles"
  [onClick]="setPageIn"
></app-nav-page>
<div class="body" *ngIf="page !== ''">
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////// HOS Exceptional Log ////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="page === 'hosExceptionalLog'" class="header">
    <div class="titile" (click)="page = ''">
      Configurations > HOS Exceptional Log
    </div>
  </div>
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////// Site Configuration /////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="page === 'siteConfiguration'" class="header">
    <div class="titile" (click)="page = ''">
      Configurations > Site Configuration
    </div>
    <div class="navRow">
      <div class="navBar">
        <div
          [ngClass]="navCount === 0 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 0"
        >
          Site Details
          <div
            [ngClass]="navCount === 0 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 1 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 1"
        >
          Island Settings
          <div
            [ngClass]="navCount === 1 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 2 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 2"
        >
          Product Master
          <div
            [ngClass]="navCount === 2 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 3 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 3"
        >
          Product List
          <div
            [ngClass]="navCount === 3 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 4 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 4"
        >
          Grade List
          <div
            [ngClass]="navCount === 4 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 5 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 5"
        >
          Shift
          <div
            [ngClass]="navCount === 5 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
      </div>
      <div class="options" style="align-items: center">
        <div
          class="grrenButton"
          (click)="popup = { path: 'addNewIsland' }"
          *ngIf="navCount === 1"
        >
          + Add New Island
        </div>
        <div
          class="grrenButton"
          *ngIf="navCount === 2"
          (click)="popup = { path: 'addMasterProduct' }"
        >
          + Add New
        </div>
        <div
          class="grrenButton"
          *ngIf="navCount === 3"
          (click)="popup = { path: 'addProduct' }"
        >
          + Add Product
        </div>
        <div
          class="grrenButton"
          *ngIf="navCount === 4"
          (click)="popup = { path: 'addMasterProduct' }"
        >
          + Add New Grade
        </div>
        <div class="switchBtn1" *ngIf="navCount === 5">
          <div class="selected">Automatic</div>
          <div class="_selected">Manual</div>
        </div>
        <div
          class="grrenButton"
          *ngIf="navCount === 5"
          (click)="popup = { path: 'addNewShift' }"
        >
          + Add New Shift
        </div>
      </div>
    </div>
  </div>
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////// Device Configuration //////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="page === 'deviceConfiguration'" class="header">
    <div class="titile" (click)="page = ''">
      Configurations > Device Configuration
    </div>
    <div class="navRow">
      <div class="navBar">
        <div
          [ngClass]="navCount === 0 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 0"
        >
          Tank Gauge
          <div
            [ngClass]="navCount === 0 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 1 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 1"
        >
          Console List
          <div
            [ngClass]="navCount === 1 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 2 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 2"
        >
          Tank List
          <div
            [ngClass]="navCount === 2 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 3 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 3"
        >
          Tank Configuration
          <div
            [ngClass]="navCount === 3 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 4 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 4"
        >
          Dispenser Configuration
          <div
            [ngClass]="navCount === 4 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 5 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 5"
        >
          UPS Configuration
          <div
            [ngClass]="navCount === 5 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 6 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 6"
        >
          Other Device
          <div
            [ngClass]="navCount === 6 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
      </div>
      <div class="options">
        <div
          class="grrenButton"
          *ngIf="navCount === 0"
          (click)="popup = { path: 'addNewGauge' }"
        >
          + Add New Gauge
        </div>
        <div
          class="grrenButton"
          *ngIf="navCount === 1"
          (click)="popup = { path: 'addNewATG' }"
        >
          + Add New ATG
        </div>
        <div
          class="grrenButton"
          *ngIf="navCount === 2"
          (click)="popup = { path: 'addNewTank' }"
        >
          + Add New Tank
        </div>
        <div
          class="grrenButton"
          *ngIf="navCount === 3"
          (click)="popup = { path: 'addRecords' }"
        >
          + Add Records
        </div>
        <div
          class="grrenButton"
          *ngIf="navCount === 4"
          (click)="popup = { path: 'configureDispenser' }"
        >
          Configure Dispenser
        </div>
        <div
          class="grrenButton"
          *ngIf="navCount === 5"
          (click)="popup = { path: 'addNewUPS' }"
        >
          + Add New UPS
        </div>
        <div
          class="grrenButton"
          *ngIf="navCount === 6"
          (click)="popup = { path: 'addDevice' }"
        >
          + Add Device
        </div>
      </div>
    </div>
  </div>
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <!-- //////////////////////////// Software Configuration ///////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="page === 'softwareConfiguration'" class="header">
    <div class="titile" (click)="page = ''">
      Configurations > Software Configuration
    </div>
    <div class="navRow">
      <div class="navBar">
        <div
          [ngClass]="navCount === 0 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 0"
        >
          Logs
          <div
            [ngClass]="navCount === 0 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 1 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 1"
        >
          Parameter
          <div
            [ngClass]="navCount === 1 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 2 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 2"
        >
          Device Driver
          <div
            [ngClass]="navCount === 2 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 3 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 3"
        >
          Master Data Sync
          <div
            [ngClass]="navCount === 3 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 4 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 4"
        >
          Activate Config
          <div
            [ngClass]="navCount === 4 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 5 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 5"
        >
          Scheduler Config
          <div
            [ngClass]="navCount === 5 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 6 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 6"
        >
          Dip Chart Config
          <div
            [ngClass]="navCount === 6 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 7 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 7"
        >
          IP Config
          <div
            [ngClass]="navCount === 7 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
      </div>
      <div class="options">
        <div
          class="grrenButton"
          *ngIf="navCount === 1"
          (click)="popup = { path: 'addParameter' }"
        >
          + Add Paramater
        </div>
        <div
          class="grrenButton"
          *ngIf="navCount === 2"
          (click)="popup = { path: 'addDeviceDriver' }"
        >
          + Add Device
        </div>
        <div class="grrenButton" *ngIf="navCount === 4">Send Configuration</div>
        <div class="grrenButton" style="background: red" *ngIf="navCount === 5">
          Run Scheduler
        </div>
      </div>
    </div>
  </div>
  <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////// User Management /////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="page === 'userManagement'" class="header">
    <div class="titile" (click)="page = ''">
      Configurations > User Management
    </div>
    <div class="navRow">
      <div class="navBar">
        <div
          [ngClass]="navCount === 0 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 0"
        >
          User Management
          <div
            [ngClass]="navCount === 0 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 1 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 1"
        >
          Role Master
          <div
            [ngClass]="navCount === 1 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 2 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 2"
        >
          Role Screen Mapping
          <div
            [ngClass]="navCount === 2 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
      </div>
      <div class="options">
        <div
          class="grrenButton"
          *ngIf="navCount === 0"
          (click)="popup = { path: 'addUser' }"
        >
          + Add User
        </div>
        <div
          class="grrenButton"
          *ngIf="navCount === 1"
          (click)="popup = { path: 'addRole' }"
        >
          + Add Role
        </div>
        <select *ngIf="navCount === 2" style="min-width: 12vw">
          <option hidden>Select role Id</option>
        </select>
        <div class="grrenButton" *ngIf="navCount === 2">Get Details</div>
      </div>
    </div>
  </div>
  <!-- /////////////////////////////////////////////////////////////////////////////////// -->
  <!-- //////////////////////////////// Alarm & Interlock //////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="page === 'alarmInterlock'" class="header">
    <div class="titile" (click)="page = ''">
      Configurations > Alarm & Interlock
    </div>
    <div class="navRow">
      <div class="navBar">
        <div
          [ngClass]="navCount === 0 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 0"
        >
          Alarm
          <div
            [ngClass]="navCount === 0 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 1 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 1"
        >
          Pump interlock
          <div
            [ngClass]="navCount === 1 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 2 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 2"
        >
          Tank interlock
          <div
            [ngClass]="navCount === 2 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
      </div>
      <div class="options">
        <div class="grrenButton" *ngIf="navCount === 0">Send Configuration</div>
      </div>
    </div>
  </div>
  <!-- /////////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////// Maintenance /////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="page === 'maintenance'" class="header">
    <div class="titile" (click)="page = ''">Configurations > Maintenance</div>
  </div>
  <!-- /////////////////////////////////////////////////////////////////////////////////// -->
  <!-- //////////////////////////////////// Log Viewer /////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="page === 'logViewer'" class="header">
    <div class="titile" (click)="page = ''">Configurations > Log Viewer</div>
    <div class="navRow">
      <div class="navBar">
        <div
          [ngClass]="navCount === 0 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 0"
        >
          BOS Log
          <div
            [ngClass]="navCount === 0 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 1 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 1"
        >
          FCC Log
          <div
            [ngClass]="navCount === 1 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
      </div>
      <div class="options">
        <div class="grrenButton">Open Log</div>
      </div>
    </div>
  </div>
  <!-- /////////////////////////////////////////////////////////////////////////////////// -->
  <!-- //////////////////////////////// Alarm & Interlock //////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="page === 'masterSettings'" class="header">
    <div class="titile" (click)="page = ''">
      Configurations > Master Settings
    </div>
    <div class="navRow">
      <div class="navBar">
        <div
          [ngClass]="navCount === 0 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 0"
        >
          Bank Settings
          <div
            [ngClass]="navCount === 0 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 1 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 1"
        >
          Mode of payment
          <div
            [ngClass]="navCount === 1 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 2 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 2"
        >
          Tax Settings
          <div
            [ngClass]="navCount === 2 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 3 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 3"
        >
          Prodect Caregory
          <div
            [ngClass]="navCount === 3 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 4 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 4"
        >
          Expense Category
          <div
            [ngClass]="navCount === 4 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 5 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 5"
        >
          Demoninations
          <div
            [ngClass]="navCount === 5 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 6 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 6"
        >
          Allowances & Incentives
          <div
            [ngClass]="navCount === 6 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 7 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 7"
        >
          Branch
          <div
            [ngClass]="navCount === 7 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
      </div>
      <div class="options">
        <div class="grrenButton" *ngIf="navCount === 0">Send Configuration</div>
      </div>
    </div>
  </div>
  <app-home-configuration-body
    [page]="page"
    [navCount]="navCount"
    [data]="data"
  ></app-home-configuration-body>
</div>
<app-home-configuration-popups
  [popup]="popup"
  [closePopUp]="closePopUp"
></app-home-configuration-popups>
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////// PAGE LOADER /////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<div class="isLoading" *ngIf="isLoading"></div>
