.body {
  background-color: white;
  height: calc(100vh - 3.5vw);
}
/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////// HEADER /////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////// */
.header {
  border-bottom: 0.03vw solid #a0b6d2;
}
.header .titile {
  padding: 0.8vw 1.2vw;
  font-weight: 500;
  font-size: 1.5vw;
  color: #415365;
  cursor: pointer;
}
.header .navRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 1vw;
}
.header .navBar {
  display: flex;
  color: #888888;
  font-size: 1vw;
  text-align: center;
  margin-left: 0.6vw;
  margin-top: 0.5vw;
}
.header .options {
  display: flex;
  color: #888888;
  font-size: 1vw;
  margin-left: 0.6vw;
}
.header .eachButton,
.header .eachButton_ {
  cursor: pointer;
  text-align: center;
  margin-right: 1.5vw;
}
.header .eachButton_ {
  font-weight: 500;
  color: #00649e;
}
.header .buttonBottom,
.header .buttonBottom_ {
  height: 0.25vw;
  min-width: 5vw;
  margin-top: 0.6vw;
  border-top-left-radius: 0.2vw;
  border-top-right-radius: 0.2vw;
}
.header .buttonBottom_ {
  background-color: #069bf2;
}
/* .header .submit {
    margin: 0.2vw;
    font-size: 0.7vw;
    background-color: #0abb59;
    border-radius: 0.2vw;
    padding: 0.25vw 0.4vw;
    color: white;
    font-weight: bold;
    cursor: pointer;
  } */
/* ////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */
.grrenButton {
  background-color: #0abb59;
  color: white;
  font-weight: 500;
  font-size: 1vw;
  border-radius: 0.3vw;
  padding: 0.3vw 0.6vw;
  cursor: pointer;
  margin: 0 1vw;
}
.switchBtn1 {
  background-color: #b6b9c1;
  border-radius: 1vw;
  height: 2vw;
  display: flex;
  color: white;
  font-size: 0.9vw;
  align-items: center;
  cursor: pointer;
}
.switchBtn1 .selected {
  border-radius: 1vw;
  background-color: #00649e;
  height: 2vw;
  display: flex;
  align-items: center;
  padding: 0 0.8vw;
}
.switchBtn1 ._selected {
  padding: 0 0.8vw;
}
select {
  border: 0.08vw solid #949494af;
  border-radius: 0.3vw;
  padding: 0.3vw 0.5vw;
  font-size: 1vw;
  box-sizing: border-box;
  font-size: 1vw;
}
