<div class="pageTitle" *ngIf="page === null">INVENTORY</div>
<!-- /////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////// -->
<div class="homeMenuList" *ngIf="page === null">
  <div style="margin: 1vw">
    <div class="subTitle">Product managemet</div>
    <div class="subDesc">
      Add and manage the products and services you're dealing with
    </div>
    <div class="card" (click)="onClickAddProduct()">
      <div>
        <div class="cardTitle">Add Products</div>
        <div class="cardDesc">
          Add all the products your business offering to its customers
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="card" (click)="onClickAddService()">
      <div>
        <div class="cardTitle">Add Service</div>
        <div class="cardDesc">
          Add all the products your business offering to its customers
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="card" (click)="onClickPromotions()">
      <div>
        <div class="cardTitle">Promotions</div>
        <div class="cardDesc">
          Add all the products your business offering to its customers
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="subTitle">Price management</div>
    <div class="subDesc">Manage prices of your products and services</div>
    <div class="card" (click)="onClickPriceLookup()">
      <div>
        <div class="cardTitle">Price Lookup</div>
        <div class="cardDesc">
          Shows prices across all the connected branches
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="card" (click)="onClickPriceChange()">
      <div>
        <div class="cardTitle">Price Change</div>
        <div class="cardDesc">
          You can change price branch level or global business level here
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="subTitle">Product managemet</div>
    <div class="subDesc">
      Add and manage the products and services you're dealing with
    </div>
    <div class="card" (click)="onClickStockRecived()">
      <div>
        <div class="cardTitle">Stock Received</div>
        <div class="cardDesc">
          Record entry against a stock transfer or a stock issue at the branch
          level
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="card" (click)="onClickStockTransfer()">
      <div>
        <div class="cardTitle">Stock Transfer</div>
        <div class="cardDesc">Transfer stock from one branch to another</div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <br />
  </div>
  <!-- ///////////////////////////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////// -->
  <div style="margin: 1vw">
    <div class="subTitle">Stock management</div>
    <div class="subDesc">Manage all the required inventory operations here</div>
    <div class="card" (click)="onClickStockReturn()">
      <div>
        <div class="cardTitle">Stock Return</div>
        <div class="cardDesc">
          Record a stock return transaction at the branch level
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="card" (click)="onClickStockTaking()">
      <div>
        <div class="cardTitle">Stock Taking</div>
        <div class="cardDesc">
          Initiate, manage and record a stock taking event at the branch level
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="card" (click)="onClickStockTrail()">
      <div>
        <div class="cardTitle">Stock Trail</div>
        <div class="cardDesc">
          Track a product in case of a stock discrepency
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="card" (click)="onClickStockAdjestment()">
      <div>
        <div class="cardTitle">Stock Adjustment</div>
        <div class="cardDesc">
          Track a product in case of a stock discrepency
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="card" (click)="onClickStockLookup()">
      <div>
        <div class="cardTitle">Stock Lookup</div>
        <div class="cardDesc">
          Shows stock positions across all the connected branches
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="card" (click)="onClickMslLookup()">
      <div>
        <div class="cardTitle">MSL Lookup</div>
        <div class="cardDesc">
          Shows the items below MSL level at the branch level
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
  </div>
</div>
<app-product-management
  *ngIf="
    page === 'addProduct' ||
    page === 'addService' ||
    page === 'promotions' ||
    page === 'addNewProduct' ||
    page === 'addNewService'
  "
  [page]="page"
  [onBack]="onBack"
></app-product-management>
<app-price-management
  *ngIf="page === 'priceLookup' || page === 'priceChange'"
  [page]="page"
  [onBack]="onBack"
></app-price-management>
<app-branch-management
  *ngIf="
    page === 'stockRecived' ||
    page === 'stockTransfer' ||
    page === 'addStockRecived' ||
    page === 'addStockTransfer'
  "
  [page]="page"
  [onBack]="onBack"
></app-branch-management>
<app-stock-management
  *ngIf="
    page === 'stockRecived' ||
    page === 'stockTransfer' ||
    page === 'stockReturn' ||
    page === 'stockTaking' ||
    page === 'stockTrail' ||
    page === 'stockAdjestment' ||
    page === 'stockLookup'
  "
  [page]="page"
  [onBack]="onBack"
></app-stock-management>
