<div class="pageTitle" *ngIf="page === null">INVENTORY</div>
<div class="pageTitle" *ngIf="page === 'addProduct'">
  <div class="arrowBack" (click)="page = null"></div>
  ADD PRODUCT
</div>
<div class="pageTitle" *ngIf="page === 'addService'">
  <div class="arrowBack" (click)="page = null"></div>
  ADD SERVICE
</div>
<div class="pageTitle" *ngIf="page === 'promotions'">
  <div class="arrowBack" (click)="page = null"></div>
  PROMOTIONS
</div>
<div class="pageTitle" *ngIf="page === 'priceLookup'">
  <div class="arrowBack" (click)="page = null"></div>
  PRICE LOOKUP
</div>
<div class="pageTitle" *ngIf="page === 'priceChange'">
  <div class="arrowBack" (click)="page = null"></div>
  PRICE CHANGE
</div>
<div class="pageTitle" *ngIf="page === 'stockRecived'">
  <div class="arrowBack" (click)="page = null"></div>
  STOCK RECIVED
</div>
<div class="pageTitle" *ngIf="page === 'stockTransfer'">
  <div class="arrowBack" (click)="page = null"></div>
  STOCK TRANSFER
</div>
<div class="pageTitle" *ngIf="page === 'stockReturn'">
  <div class="arrowBack" (click)="page = null"></div>
  STOCK RETURN
</div>
<div class="pageTitle" *ngIf="page === 'stockTaking'">
  <div class="arrowBack" (click)="page = null"></div>
  STOCK TAKING
</div>
<div class="pageTitle" *ngIf="page === 'stockTrail'">
  <div class="arrowBack" (click)="page = null"></div>
  STOCK TRAIL
</div>
<div class="pageTitle" *ngIf="page === 'stockAdjestment'">
  <div class="arrowBack" (click)="page = null"></div>
  STOCK ADJESTMENT
</div>
<div class="pageTitle" *ngIf="page === 'stockLookup'">
  <div class="arrowBack" (click)="page = null"></div>
  STOCK LOOKUP
</div>
<div class="pageTitle" *ngIf="page === 'mslLookup'">
  <div class="arrowBack" (click)="page = null"></div>
  MSL LOOKUP
</div>
<app-nav-page *ngIf="page !== null" [type]="'nav'"></app-nav-page>
<!-- /////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////// -->
<div class="homeMenuList" *ngIf="page === null">
  <div style="margin: 1vw">
    <div class="subTitle">Product managemet</div>
    <div class="subDesc">
      Add and manage the products and services you're dealing with
    </div>
    <div class="card" (click)="onClickAddProduct()">
      <div>
        <div class="cardTitle">Add Products</div>
        <div class="cardDesc">
          Add all the products your business offering to its customers
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="card" (click)="onClickAddService()">
      <div>
        <div class="cardTitle">Add Service</div>
        <div class="cardDesc">
          Add all the products your business offering to its customers
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="card" (click)="onClickPromotions()">
      <div>
        <div class="cardTitle">Promotions</div>
        <div class="cardDesc">
          Add all the products your business offering to its customers
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="subTitle">Price management</div>
    <div class="subDesc">Manage prices of your products and services</div>
    <div class="card" (click)="onClickPriceLookup()">
      <div>
        <div class="cardTitle">Price Lookup</div>
        <div class="cardDesc">
          Shows prices across all the connected branches
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="card" (click)="onClickPriceChange()">
      <div>
        <div class="cardTitle">Price Change</div>
        <div class="cardDesc">
          You can change price branch level or global business level here
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="subTitle">Product managemet</div>
    <div class="subDesc">
      Add and manage the products and services you're dealing with
    </div>
    <div class="card" (click)="onClickStockRecived()">
      <div>
        <div class="cardTitle">Stock Received</div>
        <div class="cardDesc">
          Record entry against a stock transfer or a stock issue at the branch
          level
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="card" (click)="onClickStockTransfer()">
      <div>
        <div class="cardTitle">Stock Transfer</div>
        <div class="cardDesc">Transfer stock from one branch to another</div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <br />
  </div>
  <!-- ///////////////////////////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////// -->
  <div style="margin: 1vw">
    <div class="subTitle">Stock management</div>
    <div class="subDesc">Manage all the required inventory operations here</div>
    <div class="card" (click)="onClickStockReturn()">
      <div>
        <div class="cardTitle">Stock Return</div>
        <div class="cardDesc">
          Record a stock return transaction at the branch level
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="card" (click)="onClickStockTaking()">
      <div>
        <div class="cardTitle">Stock Taking</div>
        <div class="cardDesc">
          Initiate, manage and record a stock taking event at the branch level
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="card" (click)="onClickStockTrail()">
      <div>
        <div class="cardTitle">Stock Trail</div>
        <div class="cardDesc">
          Track a product in case of a stock discrepency
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="card" (click)="onClickStockAdjestment()">
      <div>
        <div class="cardTitle">Stock Adjustment</div>
        <div class="cardDesc">
          Track a product in case of a stock discrepency
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="card" (click)="onClickStockLookup()">
      <div>
        <div class="cardTitle">Stock Lookup</div>
        <div class="cardDesc">
          Shows stock positions across all the connected branches
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
    <div class="card" (click)="onClickMslLookup()">
      <div>
        <div class="cardTitle">MSL Lookup</div>
        <div class="cardDesc">
          Shows the items below MSL level at the branch level
        </div>
      </div>
      <div class="cardArrow"></div>
    </div>
  </div>
</div>

<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'addProduct'">
  <div class="table">
    <div class="header">
      <div style="width: 6%"></div>
      <div style="width: 20%">Prodect Name</div>
      <div style="width: 10%">CODE</div>
      <div style="width: 12%">CATEGORY</div>
      <div style="width: 10%">TYPE</div>
      <div style="width: 10%">COST</div>
      <div style="width: 10%">SELLING</div>
      <div style="width: 10%">MRP</div>
      <div style="width: 8%">TAX</div>
      <div style="width: 8%">STOCK</div>
      <div style="width: 8%">MSL</div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allProduct?.content">
        <div class="content" style="width: 6%">
          <img
            [src]="it?.image"
            style="
              object-fit: cover;
              border-radius: 50%;
              width: 1.5vw;
              height: 1.5vw;
              margin-left: 1vw;
            "
          />
        </div>
        <div class="content" style="width: 20%">{{ it?.name }}</div>
        <div class="content" style="width: 10%">{{ it?.code }}</div>
        <div class="content" style="width: 12%">{{ it?.category }}</div>
        <div class="content" style="width: 10%">{{ it?.type }}</div>
        <div class="content" style="width: 10%">{{ it?.cost }}</div>
        <div class="content" style="width: 10%">{{ it?.selling }}</div>
        <div class="content" style="width: 10%">{{ it?.mrp }}</div>
        <div class="content" style="width: 8%">{{ it?.tax }}</div>
        <div class="content" style="width: 8%">{{ it?.stock }}</div>
        <div class="content" style="width: 8%">{{ it?.msl }}</div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allProduct?.paging"></app-table-paging>
</div>

<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'addService'">
  <div class="table">
    <div class="header">
      <div style="width: 6%"></div>
      <div style="width: 22%">Service Name</div>
      <div style="width: 14%">CODE</div>
      <div style="width: 14%">CATEGORY</div>
      <div style="width: 14%">COST</div>
      <div style="width: 14%">SELLING</div>
      <div style="width: 10%">TAX</div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allProduct?.content">
        <div class="content" style="width: 6%">
          <img
            [src]="it?.image"
            style="
              object-fit: cover;
              border-radius: 50%;
              width: 1.5vw;
              height: 1.5vw;
              margin-left: 1vw;
            "
          />
        </div>
        <div class="content" style="width: 22%">{{ it?.name }}</div>
        <div class="content" style="width: 14%">{{ it?.code }}</div>
        <div class="content" style="width: 14%">{{ it?.category }}</div>
        <div class="content" style="width: 14%">{{ it?.cost }}</div>
        <div class="content" style="width: 14%">{{ it?.selling }}</div>
        <div class="content" style="width: 10%">{{ it?.tax }}</div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allProduct?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'promotions'">
  <div class="table">
    <div class="header">
      <div style="width: 2%"></div>
      <div style="width: 18%">Promotion Name</div>
      <div style="width: 18%">COUNTRY</div>
      <div style="width: 18%">STARTING DATE</div>
      <div style="width: 18%">END DATE</div>
      <div style="width: 8%">STATUS</div>
      <div style="width: 4.4vw"></div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allPromotions?.content">
        <div style="width: 2%"></div>
        <div style="width: 18%">{{ it?.name }}</div>
        <div style="width: 18%">{{ it?.country }}</div>
        <div style="width: 18%">{{ it?.startDate }}</div>
        <div style="width: 18%">{{ it?.endDate }}</div>
        <div style="width: 8%; display: flex; align-items: center">
          <div
            style="
              width: 0.8vw;
              height: 0.8vw;
              border-radius: 50%;
              margin-right: 0.6vw;
            "
            [ngStyle]="{
              'background-color': it?.status == 'Active' ? '#B14848' : '#03b271'
            }"
          ></div>
          {{ it?.status }}
        </div>
        <div class="nextArrow"></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allPromotions?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'priceLookup'">
  <div class="table">
    <div class="header">
      <div style="width: 6%"></div>
      <div style="width: 28%">Service Name</div>
      <div style="width: 14%">CODE</div>
      <div style="width: 14%">CATEGORY</div>
      <div style="width: 10%">TYPE</div>
      <div style="width: 14%">PURCHASE PRICE</div>
      <div style="width: 10%">MRP</div>
      <div style="width: 8%">RRP</div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allProduct?.content">
        <div class="content" style="width: 6%">
          <img
            [src]="it?.image"
            style="
              object-fit: cover;
              border-radius: 50%;
              width: 1.5vw;
              height: 1.5vw;
              margin-left: 1vw;
            "
          />
        </div>
        <div class="content" style="width: 28%">{{ it?.name }}</div>
        <div class="content" style="width: 14%">{{ it?.code }}</div>
        <div class="content" style="width: 14%">{{ it?.category }}</div>
        <div class="content" style="width: 10%">{{ it?.type }}</div>
        <div class="content" style="width: 14%">{{ it?.purchasePrice }}</div>
        <div class="content" style="width: 10%">{{ it?.mrp }}</div>
        <div class="content" style="width: 8%">{{ it?.rrp }}</div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allProduct?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'priceChange'">
  <div class="table">
    <div class="header">
      <div style="width: 6%"></div>
      <div style="width: 28%">Service Name</div>
      <div style="width: 14%">CODE</div>
      <div style="width: 14%">CATEGORY</div>
      <div style="width: 14%">PURCHASE PRICE</div>
      <div style="width: 10%">MRP</div>
      <div style="width: 8%">RRP</div>
      <div style="width: 8%">TAX</div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allProduct?.content">
        <div class="content" style="width: 6%">
          <img
            [src]="it?.image"
            style="
              object-fit: cover;
              border-radius: 50%;
              width: 1.5vw;
              height: 1.5vw;
              margin-left: 1vw;
            "
          />
        </div>
        <div class="content" style="width: 28%">{{ it?.name }}</div>
        <div class="content" style="width: 14%">{{ it?.code }}</div>
        <div class="content" style="width: 14%">{{ it?.category }}</div>
        <div class="content" style="width: 14%">{{ it?.purchasePrice }}</div>
        <div class="content" style="width: 10%">{{ it?.mrp }}</div>
        <div class="content" style="width: 8%">{{ it?.rrp }}</div>
        <div class="content" style="width: 8%">{{ it?.tax }}</div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allProduct?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'stockRecived'">
  <div class="table">
    <div class="header">
      <div style="width: 2%"></div>
      <div style="width: 18%">TRANSACTION</div>
      <div style="width: 18%">DATE</div>
      <div style="width: 18%">TRANSFER FROM</div>
      <div style="width: 18%">DISCRIPTION</div>
      <div style="width: 12%">COUNT</div>
      <div style="width: 12%; text-align: right">Amount</div>
      <div style="width: 1%"></div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allStocks?.content">
        <div class="content" style="width: 2%"></div>
        <div class="content" style="width: 18%">{{ it?.transaction }}</div>
        <div class="content" style="width: 18%">{{ it?.date }}</div>
        <div class="content" style="width: 18%">{{ it?.transferFrom }}</div>
        <div class="content" style="width: 18%">{{ it?.desc }}</div>
        <div class="content" style="width: 12%">{{ it?.count }}</div>
        <div class="content" style="width: 12%; text-align: right">
          {{ it?.amount }}
        </div>
        <div class="content" style="width: 1%"></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allStocks?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'stockTransfer'">
  <div class="table">
    <div class="header">
      <div></div>
      <div style="width: 12%">TRANSACTION</div>
      <div style="width: 12%">DATE</div>
      <div style="width: 12%">TRANSFER FROM</div>
      <div style="width: 12%">TRANSFER TO</div>
      <div style="width: 12%">DISCRIPTION</div>
      <div style="width: 8%">COUNT</div>
      <div style="width: 8%; text-align: right">Amount</div>
      <div style="width: 8%">Status</div>
      <div></div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allStocks?.content">
        <div></div>
        <div class="content" style="width: 12%">{{ it?.transaction }}</div>
        <div class="content" style="width: 12%">{{ it?.date }}</div>
        <div class="content" style="width: 12%">{{ it?.transferFrom }}</div>
        <div class="content" style="width: 12%">{{ it?.transferTo }}</div>
        <div class="content" style="width: 12%">{{ it?.desc }}</div>
        <div class="content" style="width: 8%">{{ it?.count }}</div>
        <div class="content" style="width: 8%; text-align: right">
          {{ it?.amount }}
        </div>
        <div class="content" style="width: 8%">{{ it?.status }}</div>
        <div></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allStocks?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'stockReturn'">
  <div class="table">
    <div class="header">
      <div></div>
      <div style="width: 12%">TRANSACTION</div>
      <div style="width: 12%">DATE</div>
      <div style="width: 12%">TRANSFER FROM</div>
      <div style="width: 12%">TRANSFER TO</div>
      <div style="width: 12%">DISCRIPTION</div>
      <div style="width: 8%">COUNT</div>
      <div style="width: 8%; text-align: right">Amount</div>
      <div style="width: 8%">Status</div>
      <div></div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allStocks?.content">
        <div></div>
        <div class="content" style="width: 12%">{{ it?.transaction }}</div>
        <div class="content" style="width: 12%">{{ it?.date }}</div>
        <div class="content" style="width: 12%">{{ it?.transferFrom }}</div>
        <div class="content" style="width: 12%">{{ it?.transferTo }}</div>
        <div class="content" style="width: 12%">{{ it?.desc }}</div>
        <div class="content" style="width: 8%">{{ it?.count }}</div>
        <div class="content" style="width: 8%; text-align: right">
          {{ it?.amount }}
        </div>
        <div class="content" style="width: 8%">{{ it?.status }}</div>
        <div></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allStocks?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!--  -->
<!--  -->
<div class="tableBody" *ngIf="page === 'stockAdjestment'">
  <div class="table">
    <div class="header">
      <div></div>
      <div style="width: 6%"></div>
      <div style="width: 22%">Product Name</div>
      <div style="width: 10%">CODE</div>
      <div style="width: 16%">PARENT CATEGORY</div>
      <div style="width: 16%">CATEGORY</div>
      <div style="width: 10%">MSL</div>
      <div style="width: 10%">STOCK</div>
      <div></div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allProduct?.content">
        <div></div>
        <div class="content" style="width: 6%">
          <img
            [src]="it?.image"
            style="
              object-fit: cover;
              border-radius: 50%;
              width: 1.5vw;
              height: 1.5vw;
              margin-left: 1vw;
            "
          />
        </div>
        <div class="content" style="width: 22%">{{ it?.name }}</div>
        <div class="content" style="width: 10%">{{ it?.code }}</div>
        <div class="content" style="width: 16%">{{ it?.parentCategory }}</div>
        <div class="content" style="width: 16%">{{ it?.category }}</div>
        <div class="content" style="width: 10%">{{ it?.msl }}</div>
        <div class="content" style="width: 10%">{{ it?.stock }}</div>
        <div></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allProduct?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'stockLookup'">
  <div class="table">
    <div class="header">
      <div></div>
      <div style="width: 4%"></div>
      <div style="width: 30%">Product Name</div>
      <div style="width: 13%">CODE</div>
      <div style="width: 18%">CATEGORY</div>
      <div style="width: 13%">TYPE</div>
      <div style="width: 13%">STOCK</div>
      <div></div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allProduct?.content">
        <div></div>
        <div class="content" style="width: 4%">
          <img
            [src]="it?.image"
            style="
              object-fit: cover;
              border-radius: 50%;
              width: 1.5vw;
              height: 1.5vw;
              margin-left: 1vw;
            "
          />
        </div>
        <div class="content" style="width: 30%">{{ it?.name }}</div>
        <div class="content" style="width: 13%">{{ it?.code }}</div>
        <div class="content" style="width: 18%">{{ it?.category }}</div>
        <div class="content" style="width: 13%">{{ it?.type }}</div>
        <div class="content" style="width: 13%">{{ it?.stock }}</div>
        <div></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allProduct?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'mslLookup'">
  <div class="table">
    <div class="header">
      <div></div>
      <div style="width: 6%"></div>
      <div style="width: 22%">Product Name</div>
      <div style="width: 10%">CODE</div>
      <div style="width: 12%">CATEGORY</div>
      <div style="width: 10%">TYPE</div>
      <div style="width: 10%">MSL</div>
      <div style="width: 10%">STOCK</div>
      <div style="width: 10%; text-align: center">DEFFERENCE</div>
      <div></div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allProduct?.content">
        <div></div>
        <div class="content" style="width: 6%">
          <img
            [src]="it?.image"
            style="
              object-fit: cover;
              border-radius: 50%;
              width: 1.5vw;
              height: 1.5vw;
              margin-left: 1vw;
            "
          />
        </div>
        <div class="content" style="width: 22%">{{ it?.name }}</div>
        <div class="content" style="width: 10%">{{ it?.code }}</div>
        <div class="content" style="width: 12%">{{ it?.category }}</div>
        <div class="content" style="width: 10%">{{ it?.type }}</div>
        <div class="content" style="width: 10%">{{ it?.msl }}</div>
        <div class="content" style="width: 10%">{{ it?.stock }}</div>
        <div class="content" style="width: 10%; text-align: center">
          {{ it?.difference }}
        </div>
        <div></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allProduct?.paging"></app-table-paging>
</div>
