.colorPicker {
  display: flex;
  position: relative;
}
.colorPicker .shower {
  width: 7vw;
  height: 2.5vw;
  border-radius: 0.3vw;
  padding: 0.6vw;
  box-sizing: border-box;
  background-color: #c9e1ff;
  font-size: 1vw;
  color: white;
}
.colorPicker .btn {
  width: 3vw;
  height: 2.5vw;
  border-radius: 0.3vw;
  padding: 0.5vw;
  box-sizing: border-box;
  background-color: #dcdcdc;
  margin-left: 0.2vw;
  background-image: url(../../../assets/ic_bucket.svg);
  background-size: 1.5vw;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.showColors {
  position: absolute;
  top: 110%;
  right: 0;
  left: 0;
  box-sizing: border-box;
  background-color: white;
  padding: 0.5vw;
  font-size: 0.8vw;
  box-shadow: 0 0 5px #80808054;
  border-radius: 0.3vw;
  display: flex;
  flex-wrap: wrap;
}
.showColors div {
  width: 1.3vw;
  height: 1.3vw;
  margin: 0.25vw;
  cursor: pointer;
}
