/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
.header {
  height: 3.5vw;
  background-color: white;
  border-bottom: 0.05vw solid #707070;
  padding: 0 1.2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  padding-top: 1vw;
  font-size: 1.5vw;
  font-weight: 500;
  color: #415365;
}
.body {
  padding: 1vw 4vw;
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 48%;
  font-weight: 500;
  font-size: 1.2vw;
  color: #406ca5;
  cursor: pointer;
  margin: 0.7vw;
}
.underLine {
  width: 0;
  transition: 1s;
  background-color: #006dfb;
  height: 0.3vw;
  border-bottom-left-radius: 0.3vw;
  border-bottom-right-radius: 0.3vw;
  margin-top: -0.2vw;
}
.card:hover .underLine {
  transition: 0.5s;
  width: 100%;
}
.cardContent {
  border-radius: 0.3vw;
  padding: 1.4vw 1vw;
  padding-top: 1.7vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.cardContent:hover {
  background-color: #f5f9ff;
}
.cardArrow {
  width: 1vw;
  height: 1vw;
  background-image: url(../../../assets/ic_arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
