<div class="pageTitle">CALENDER</div>
<div class="body">
  <div class="bodyHeader">
    <div>
      <div class="bodyTitle">{{ allDays?.title }}</div>
      <div class="bodyTitleDesc">
        Shows all the recorded purchase entries against the selected date range
      </div>
    </div>
    <div class="monthChangeButton">
      <div class="monthPrevButton" (click)="onClickPrevMonth()"></div>
      <div class="monthNextButton" (click)="onClickNextMonth()"></div>
    </div>
  </div>
  <div class="calenderAll">
    <div class="calenderHeader">
      <div class="calenderHeaderEach" *ngFor="let it of days">{{ it }}</div>
    </div>
    <div class="calenderBody">
      <div
        class="calenderCell"
        *ngFor="let it of allDays?.content"
        (click)="salectedDay = {}"
      >
        <div style="display: flex; justify-content: flex-end">
          <div
            class="calenderDay"
            [ngStyle]="
              it.today ? { background: '#298844', color: 'white' } : {}
            "
          >
            {{ it.day }}
          </div>
        </div>
        <div>
          <div
            class="CalenderEvent"
            *ngFor="let it of it?.events"
            [ngStyle]="{ borderColor: it?.color }"
          >
            <div>
              {{ it.title }}
            </div>
            <div>
              {{ it.value }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
<!-- ////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////// -->
<div [ngClass]="salectedDay === null ? 'drowerBg' : 'drowerBg_'"></div>
<div [ngClass]="salectedDay === null ? 'drower' : 'drower_'">
  <div class="drowerHeader">
    <div class="drowerHeadera">{{ "5th July, Tuesday" }}</div>
    <div class="drowerHeaderb" (click)="salectedDay = null"></div>
  </div>
  <div class="drowerBody">
    <div class="hclGaBa">
      <div class="hclGaBaA" *ngFor="let it of [1, 1, 1]">
        <img class="hclGaBaB" alt="er" src="{d.image}" />
        <div>
          <div class="hclGaBaD">Sdfdr</div>
          <div class="hclGaBaE">Birthday</div>
        </div>
      </div>
    </div>
    <!-- ///////////////////////////////////////////////////////////// -->
    <div class="hclGaBb">Check Payments to be made</div>
    <div class="hclGaBc">
      <div class="hclGaBcA">Party</div>
      <div class="hclGaBcB">Mode</div>
      <div class="hclGaBcC">Bank</div>
      <div class="hclGaBcD">Reference</div>
      <div class="hclGaBcE">Amount</div>
    </div>
    <div class="hclGaBd" *ngFor="let it of [{}, {}]">
      <div class="hclGaBcA hclGaBdA">{{ "it?.party" }}</div>
      <div class="hclGaBcB hclGaBdB">{{ "it?.mode" }}</div>
      <div class="hclGaBcC hclGaBdC">{{ "it?.bank" }}</div>
      <div class="hclGaBcD hclGaBdD">{{ "it?.reference" }}</div>
      <div class="hclGaBcE hclGaBdE">{{ "it?.amount" }}</div>
    </div>
    <!-- ///////////////////////////////////////////////////////////// -->
    <div class="hclGaBe">
      <div class="hclGaBeA">
        <div class="hclGaBeB">
          <div class="hclGaBeC">Account Balance</div>
          <div class="hclGaBeD">INR 123331312</div>
        </div>
        <div class="hclGaBeB">
          <div class="hclGaBeC">Total to be paid</div>
          <div class="hclGaBeD_">INR 1232323</div>
        </div>
      </div>
    </div>

    <!-- ///////////////////////////////////////////////////////////// -->
    <div class="hclGaBb">Payments to be collected</div>
    <div class="hclGaBg">
      <div class="hclGaBgA">Party</div>
      <div class="hclGaBgB">Contact</div>
      <div class="hclGaBgC">Due Date</div>
      <div class="hclGaBgD">Reference</div>
      <div class="hclGaBgE">Amount</div>
    </div>
    <div class="hclGaBh" *ngFor="let it of [{}, {}]">
      <div class="hclGaBgA hclGaBhA">{{ "it.customer_name" }}</div>
      <div class="hclGaBgB hclGaBhB">{{ "it.customer_phone" }}</div>
      <div class="hclGaBgC hclGaBhC">{{ "it.due_date" }}</div>
      <div class="hclGaBgD hclGaBhD">{{ "it.invoice_no" }}</div>
      <div class="hclGaBgE hclGaBhE">{{ "it.balance_amount" }}</div>
    </div>
    <div class="hclGaBi">
      <div class="hclGaBiA">
        <div class="hclGaBiB">Total to be collected</div>
        <div class="hclGaBiC">INR 12131212</div>
      </div>
    </div>
    <!-- ///////////////////////////////////////////////////////////// -->
  </div>
  <div class="drowerFooter">
    <div class="drowerFooterOk" (click)="salectedDay = null">OK</div>
  </div>
</div>
