.pageTitle {
  background-color: white;
  border-bottom: 0.1vw solid #7070705d;
  padding: 0.5vw 1vw;
  font-size: 1.4vw;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.arrowBack {
  width: 1.2vw;
  height: 1.2vw;
  background-size: contain;
  background-image: url(../../assets/ic_arrow1.svg);
  background-position: center;
  cursor: pointer;
  margin-right: 0.6vw;
}
.navHeader {
  display: flex;
  justify-content: flex-end;
  border-bottom: 0.1vw solid #7070705d;
}
.button1 {
  font-size: 1.3vw;
  color: #406ca5;
  background-color: white;
  font-weight: 500;
  padding: 0.4vw 1.5vw;
  margin: 0.6vw 0.6vw;
  border-radius: 0.2vw;
  border: 0.1vw solid #7070705d;
  cursor: pointer;
}
.button2 {
  font-size: 1.3vw;
  color: white;
  background-color: #406ca5;
  font-weight: 500;
  padding: 0.4vw 1.5vw;
  margin: 0.6vw 0.6vw;
  border-radius: 0.2vw;
  border: 0.1vw solid #7070705d;
  cursor: pointer;
}
.body {
  max-height: calc(100vh - 10vw);
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  padding: 2vw 10vw;
  box-sizing: border-box;
}
.card {
  width: 94%;
  margin: 0.8vw;
  background-color: white;
  border: 0.1vw solid #7070705d;
  border-radius: 0.5vw;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 0 1vw #57a0ffbf;
}
.cardBody {
  padding: 1vw;
  border-bottom: 0.1vw solid #7070705d;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5vw;
}
.accountName {
  font-size: 1.3vw;
  color: #406ca5;
  font-weight: 500;
}
.accountLogo {
  height: 2vw;
  width: 2vw;
  object-fit: contain;
}
.balanceLabel {
  text-align: center;
  font-size: 1.2vw;
  color: #323232;
}
.balance {
  font-weight: bold;
  font-size: 1.3vw;
  text-align: center;
  color: #323232;
  padding: 0.2vw 0;
}
.lastEntry {
  text-align: center;
  font-size: 1vw;
  color: #323232;
  padding-bottom: 1vw;
}
.cardBottom {
  background-color: #b7b7b776;
  padding: 0.3vw 0.8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1vw;
  color: #707070;
}
.cardBin {
  width: 1.8vw;
  height: 1.8vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../assets/ic_bin1.svg);
  cursor: pointer;
  margin: 0 0.3vw;
}
.cardEdit {
  width: 1.8vw;
  height: 1.8vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../assets/ic_edit.svg);
  cursor: pointer;
  margin: 0 0.3vw;
}
/* ///////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// */

.popup1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3232322e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup1Body {
  background-color: white;
  width: 55vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.161);
}
.popup1Header {
  font-weight: 500;
  font-size: 1.3vw;
  padding: 0.4vw 1vw;
  color: #123347;
  background-color: #e1e2e5;
  border-bottom: 0.1vw solid #7070706a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup1Close {
  width: 1.1vw;
  height: 1.1vw;
  cursor: pointer;
  background-image: url(../../assets/ic_x.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.popup1Desc {
  padding: 0.6vw 1vw;
  font-size: 0.88vw;
  color: #123347;
}
.popup1ContentBody {
  padding: 0.8vw 0;
}
.popup1ContentRow {
  display: flex;
  justify-content: space-between;
}
.popup1InputLabel {
  width: 100%;
  margin: 0.3vw 1vw;
  font-size: 0.8vw;
  color: #2d4c86;
}
.popup1Input {
  margin: 0 1vw;
  margin-bottom: 1vw;
  width: 100%;
  border-radius: 0.3vw;
  border: 0.1vw solid #c5c6ca;
  color: #123347;
  font-size: 0.88vw;
  padding: 0.3vw;
}
.popup1Footer {
  padding: 0.4vw 1vw;
  border-top: 0.1vw solid #7070706a;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.popup1CancelBtn {
  font-size: 1vw;
  padding: 0.4vw;
  min-width: 6vw;
  text-align: center;
  background-color: #c6d5fb;
  border-radius: 0.3vw;
  color: #406ca5;
  font-size: 400;
  cursor: pointer;
}
.popup1SaveBtn {
  background-color: #406ca5;
  font-size: 1vw;
  padding: 0.4vw;
  min-width: 6vw;
  text-align: center;
  font-size: 400;
  color: white;
  border-radius: 0.3vw;
  margin: 0 0.8vw;
  cursor: pointer;
}
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
.navBarLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1vw solid #a5a5a542;
  box-sizing: border-box;
  padding: 0 0.8vw;
  height: 3.4vw;
  font-size: 1.3vw;
}
.navButtonBar {
  display: flex;
  align-items: center;
  font-size: 1vw;
}
/* /////////////////// */
.tableNavBar {
  height: 3.2vw;
  border-bottom: 0.1vw solid #7070705d;
  display: flex;
  align-items: flex-end;
}
.tableNavBarEach,
.tableNavBarEach_ {
  color: #888888;
  font-size: 1vw;
  padding: 0 0.3vw;
  cursor: pointer;
  text-align: center;
}
.tableNavBarEach_ {
  color: #00649e;
}
.tableNavBarEachBottonLine,
.tableNavBarEachBottonLine_ {
  height: 0.3vw;
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
  margin-top: 0.6vw;
  min-width: 5.5vw;
}
.tableNavBarEachBottonLine_ {
  background-color: #069bf2;
}
.tableBody {
  height: calc(100vh - 14vw);
  background-color: white;
}
.tableBody .table {
  font-size: 1vw;
  padding: 0.5vw 1.5vw;
  height: 100%;
  box-sizing: border-box;
}
.tableBody .header {
  color: #3f6ca5;
  display: flex;
  justify-content: space-between;
  padding: 0.5vw;
  border-bottom: 0.08vw solid #dddfe1;
}
.tableBody .contentBody {
  height: calc(96.53%);
  overflow: auto;
}
.tableBody .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw;
}
.tableBody .row:nth-child(even) {
  background-color: #f3f6f9;
}
.tableBody .content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.actionArrow {
  width: 1.2vw;
  height: 1.2vw;
  background-image: url(../../assets/ic_arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 1vw;
  cursor: pointer;
}
/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
