.switchOn,
.switchOff {
  height: 2vw;
  width: 4vw;
  background-image: url(../../../assets/ic_switch.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.switchOn {
  background-image: url(../../../assets/ic_switch_on.svg);
}

.listButton {
  display: flex;
  position: relative;
  margin: 0 0.5vw;
}
.listButton .blueButton {
  background-color: #00649e;
  color: white;
  white-space: nowrap;
  font-weight: 500;
  font-size: 1vw;
  border-top-left-radius: 0.3vw;
  border-bottom-left-radius: 0.3vw;
  padding: 0.5vw 1vw;
  cursor: pointer;
}
.listButton .arrowDown {
  min-width: 2vw;
  border-top-right-radius: 0.3vw;
  border-bottom-right-radius: 0.3vw;
  background-color: #00649e;
  border: 0.1vw solid #00649e;
  margin-left: 0.1vw;
  background-image: url(../../../assets/ic_arrow_down.svg);
  background-position: center;
  background-size: 1.5vw;
  background-repeat: no-repeat;
  cursor: pointer;
}
.listButton .dropList {
  position: absolute;
  top: 110%;
  background-color: white;
  right: 0;
  padding: 0.3vw;
  border-radius: 0.4vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.3);
  font-size: 0.9vw;
}
.listButton .dropList div {
  cursor: pointer;
  padding: 0.3vw 0.5vw;
}
.listButton .dropList div:hover {
  background-color: #00649e3c;
}
/* ///////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// */
.exlDownUp {
  display: flex;
}
.exlDownUp .exlDwnld {
  font-size: 0.9vw;
}
.exlDownUp .exlUpld {
  font-size: 0.7vw;
  text-align: center;
  border: 0.1vw dashed #113d77;
  background-color: #dfe7f2;
  border-radius: 0.4vw;
  padding: 0.2vw 0.6vw;
  cursor: pointer;
  max-width: 14vw;
  width: 14vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.exlDownUp .exlUpld input {
  display: none;
}
.exlDownUp .exlDwnldBtn,
.exlDownUp .exlUpldBtn {
  height: 2vw;
  width: 2vw;
  border-radius: 0.4vw;
  background-color: #406ca5;
  margin-left: 1vw;
  margin-right: 2vw;
  cursor: pointer;
  background-image: url(../../../assets/ic_download2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.exlDownUp .exlUpldBtn {
  background-image: url(../../../assets/ic_upload.svg);
}
.exlDownUp .lodingPop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000076;
}
.exlDownUp .lodingBody {
  border-radius: 0.8vw;
  background-color: white;
  width: 24vw;
  height: 20vw;
  font-size: 1vw;
  font-weight: 500;
  box-sizing: border-box;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url(../../../assets/Uploading.gif);
  background-position: center 3vw;
  background-repeat: no-repeat;
}
/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
.popup1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.popup1 .body {
  background-color: white;
  box-shadow: -0.2vw -0.2vw 0.6vw rgba(0, 0, 0, 0.126);
}
.popup1 .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5vw;
  color: #00649e;
  background-color: #e1e2e5;
  padding: 0.7vw 1.2vw;
}
.popup1 .closeBtn {
  width: 1.8vw;
  height: 1.8vw;
  cursor: pointer;
  background-image: url(../../../assets/ic_x.svg);
  background-position: center;
  background-size: 1.2vw;
  background-repeat: no-repeat;
}
/* //////////////////////////////////////////////// */
.popup1 .desc {
  padding: 1vw 2vw;
  font-size: 0.85vw;
}
.popup1 .bodyRow {
  display: flex;
  margin: 0 1.5vw;
}
.popup1 .contentBody {
  color: #2d4c86;
  font-size: 0.8vw;
  margin: 0.6vw 1vw;
}
.popup1 .input {
  width: 25vw;
  border-radius: 0.4vw;
  border: 0.08vw solid #c5c6ca;
  margin: 0.2vw 0;
  padding: 0.4vw 0.5vw;
  box-sizing: border-box;
}
.popup1 .selectedList {
  max-width: 25vw;
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: 0.8vw;
}
.popup1 .selectedItem {
  border-radius: 0.3vw;
  padding: 0.2vw 0.3vw;
  background-color: #2d4c86;
  margin: 0.2vw;
  display: flex;
  align-items: center;
}
.selectedItemDlt {
  width: 0.8vw;
  height: 0.8vw;
  cursor: pointer;
  background-image: url(../../../assets/ic_bin2.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 0.6vw;
}
/* //////////////////////////////////////////////// */
.popup1 .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2vw;
  border-top: 0.1vw solid #7070705a;
  margin-top: 1vw;
}
.popup1 .errorMsg {
  color: #ce4d24;
  background-color: #f9d7d4;
  border-radius: 0.4vw;
  padding: 0.4vw 1vw;
  border: 0.05vw solid #ce4d24;
  font-size: 0.9vw;
}
.popup1 .btns {
  display: flex;
  align-items: center;
  color: white;
  font-size: 0.8vw;
}
.popup1 .cancelBtn {
  margin: 0 0.5vw;
  border-radius: 0.3vw;
  padding: 0.5vw 1.5vw;
  background-color: #c9e1ff;
  color: var(--myColor);
  cursor: pointer;
}
.popup1 .saveBtn {
  margin: 0 0.5vw;
  background-color: var(--myColor);
  border-radius: 0.3vw;
  padding: 0.5vw 1.5vw;
  cursor: pointer;
}
