<div class="pageTitle" *ngIf="page === 'stockRecived'">
  <div class="arrowBack" (click)="onBack(null)"></div>
  STOCK RECIVED
</div>
<div class="pageTitle" *ngIf="page === 'stockTransfer'">
  <div class="arrowBack" (click)="onBack(null)"></div>
  STOCK TRANSFER
</div>
<div class="pageTitle" *ngIf="page === 'addStockRecived'">
  <div class="arrowBack" (click)="onBack('stockRecived')"></div>
  NEW STOCK RECIVED
</div>
<div class="pageTitle" *ngIf="page === 'addStockTransfer'">
  <div class="arrowBack" (click)="onBack('stockTransfer')"></div>
  STOCK TRANSFER
</div>
<div
  class="tableFilterHeader"
  *ngIf="page === 'stockRecived' || page === 'stockTransfer'"
>
  <input class="input" placeholder="Search a product" />
  <div class="categoryTitle">SHOWING:</div>
  <select class="input">
    <option hidden>Select Category</option>
  </select>
  <div class="downloadButton"></div>
  <div
    class="addButton"
    *ngIf="page === 'stockRecived'"
    (click)="onClickNewStockRecived()"
  >
    Stock Receive
  </div>
  <div
    class="addButton"
    *ngIf="page === 'stockTransfer'"
    (click)="onClicksNewStockTransfer()"
  >
    + Transfer Stock
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'stockRecived'">
  <div class="table">
    <div class="header">
      <div style="width: 2%"></div>
      <div style="width: 18%">TRANSACTION</div>
      <div style="width: 18%">DATE</div>
      <div style="width: 18%">TRANSFER FROM</div>
      <div style="width: 18%">DISCRIPTION</div>
      <div style="width: 12%">COUNT</div>
      <div style="width: 12%; text-align: right">Amount</div>
      <div style="width: 1%"></div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allStocks?.content">
        <div class="content" style="width: 2%"></div>
        <div class="content" style="width: 18%; color: #406ca5">
          {{ it?.transaction }}
        </div>
        <div class="content" style="width: 18%">{{ it?.date }}</div>
        <div class="content" style="width: 18%">{{ it?.transferFrom }}</div>
        <div class="content" style="width: 18%">{{ it?.desc }}</div>
        <div class="content" style="width: 12%">{{ it?.count }}</div>
        <div class="content" style="width: 12%; text-align: right">
          {{ it?.amount }}
        </div>
        <div class="content" style="width: 1%"></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allStocks?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'stockTransfer'">
  <div class="table">
    <div class="header">
      <div></div>
      <div style="width: 12%">TRANSACTION</div>
      <div style="width: 12%">DATE</div>
      <div style="width: 12%">TRANSFER FROM</div>
      <div style="width: 12%">TRANSFER TO</div>
      <div style="width: 12%">DISCRIPTION</div>
      <div style="width: 8%">COUNT</div>
      <div style="width: 8%; text-align: right">Amount</div>
      <div style="width: 8%">Status</div>
      <div></div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allStocks?.content">
        <div></div>
        <div class="content" style="width: 12%; color: #406ca5">
          {{ it?.transaction }}
        </div>
        <div class="content" style="width: 12%">{{ it?.date }}</div>
        <div class="content" style="width: 12%">{{ it?.transferFrom }}</div>
        <div class="content" style="width: 12%">{{ it?.transferTo }}</div>
        <div class="content" style="width: 12%">{{ it?.desc }}</div>
        <div class="content" style="width: 8%">{{ it?.count }}</div>
        <div class="content" style="width: 8%; text-align: right">
          {{ it?.amount }}
        </div>
        <div class="content" style="width: 8%">{{ it?.status }}</div>
        <div></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allStocks?.paging"></app-table-paging>
</div>

<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="formLayout" *ngIf="page === 'addStockTransfer'">
  <div
    class="formHeaderBox"
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <div style="width: 22%">
      <div>Transfer from Branch*</div>
      <select class="defaultInput" style="width: 100%">
        <option>Select Branch</option>
      </select>
    </div>
    <div style="width: 12%">
      <div>Date</div>
      <input
        class="defaultInput"
        placeholder="Search for a supplier"
        style="width: 100%"
        type="date"
      />
    </div>
    <div style="width: 22%">
      <div>Transfer to Branch*</div>
      <select class="defaultInput" style="width: 100%">
        <option>Select Account</option>
      </select>
    </div>
    <div style="width: 22%">
      <div>Discription</div>
      <input class="defaultInput" style="width: 100%" />
    </div>
    <div style="width: 10%"></div>
  </div>
  <div class="formTableHeader">
    <div class="value" style="width: 3%"></div>
    <div class="value" style="width: 30%">Product / Service</div>
    <div class="value" style="width: 10%">Qty</div>
    <div class="value" style="width: 10%">Cost*</div>
    <div class="value" style="width: 15%">Branch Price</div>
    <div class="value" style="width: 10%">Tax Slab</div>
    <div class="value" style="width: 10%; text-align: right">Tax Amount</div>
    <div class="value" style="width: 10%; text-align: right">Total</div>
  </div>
  <div class="formTableBody">
    <div class="formTableRow" *ngFor="let it of [{}, {}]">
      <div class="value" style="width: 3%"></div>
      <div class="value" style="width: 30%">
        <select class="defaultSelect" style="width: 100%">
          <option>SELECT PRODUCT</option>
        </select>
      </div>
      <div class="value" style="width: 10%">
        <input
          class="defaultInput"
          placeholder="0.00"
          style="width: 100%; text-align: right"
        />
      </div>
      <div class="value" style="width: 10%">
        <input
          class="defaultInput"
          placeholder="0.00"
          style="width: 100%; text-align: right"
        />
      </div>
      <div class="value" style="width: 15%">
        <input placeholder="0.00" class="defaultSelect" style="width: 100%" />
      </div>
      <div class="value" style="width: 10%">
        <select class="defaultSelect" style="width: 100%">
          <option>No Tax</option>
        </select>
      </div>
      <div class="value" style="width: 10%; padding: 0.5vw; text-align: right">
        89,800.00
      </div>
      <div class="value" style="width: 10%; padding: 0.5vw; text-align: right">
        89,800.00
      </div>
    </div>
  </div>
  <div
    class="formHeaderBox"
    style="display: flex; justify-content: space-between"
  >
    <div style="width: 44%">
      <div style="width: 100%">
        <div>Delevery Address</div>
        <textarea
          class="defaultInput"
          style="width: 100%"
          placeholder="Adress..."
        ></textarea>
      </div>
    </div>
    <div style="width: 35%; line-height: 3vw">
      <div style="width: 100%; display: flex; justify-content: space-between">
        <div>Subtotal</div>
        <div>1,19,700.00</div>
      </div>
      <div style="width: 100%; display: flex; justify-content: space-between">
        <div>Tax</div>
        <div>1,19,700.00</div>
      </div>
      <div
        style="
          width: 100%;
          display: flex;
          justify-content: space-between;
          font-size: 1vw;
        "
      >
        <div>Total</div>
        <div>1,19,700.00</div>
      </div>
    </div>
  </div>
  <div class="formFooterBar">
    <div class="blueButton">SAVE & PRINT</div>
    <div class="blueButton">CLOSE</div>
  </div>
</div>
