.blueContainer1 {
  background-color: #069bf2;
}
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
.header {
  height: 6vw;
  background-color: white;
  border-bottom: 0.05vw solid #707070;
  padding: 0 1.2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  padding-top: 1vw;
  font-size: 1.6vw;
  font-weight: 500;
  color: #415365;
}
.navBar {
  display: flex;
  color: #888888;
  font-size: 1vw;
  text-align: center;
}
.eachButton {
  cursor: pointer;
  text-align: center;
}
.buttonBottom {
  height: 0.25vw;
  min-width: 7vw;
  margin-top: 0.8vw;
  border-top-left-radius: 0.2vw;
  border-top-right-radius: 0.2vw;
}
.contentBody {
  height: calc(100vh - 10vw);
  overflow: auto;
}
