<div class="tableFooter">
  <div
    class="next"
    (click)="paging.page = paging?.page - (paging?.page > 1 ? 1 : 0)"
  ></div>
  <div
    class="page"
    *ngIf="paging?.page - 3 > 0"
    (click)="paging.page = paging?.page - 3"
  >
    {{ paging?.page - 3 }}
  </div>
  <div
    class="page"
    *ngIf="paging?.page - 2 > 0"
    (click)="paging.page = paging?.page - 2"
  >
    {{ paging?.page - 2 }}
  </div>
  <div
    class="page"
    *ngIf="paging?.page - 1 > 0"
    (click)="paging.page = paging?.page - 1"
  >
    {{ paging?.page - 1 }}
  </div>
  <div class="selected">{{ paging?.page }}</div>
  <div
    class="page"
    *ngIf="paging?.page + 1 <= paging?.totalPage"
    (click)="paging.page = paging?.page + 1"
  >
    {{ paging?.page + 1 }}
  </div>
  <div
    class="page"
    *ngIf="paging?.page + 2 <= paging?.totalPage"
    (click)="paging.page = paging?.page + 2"
  >
    {{ paging?.page + 2 }}
  </div>
  <div
    class="page"
    *ngIf="paging?.page + 3 <= paging?.totalPage"
    (click)="paging.page = paging?.page + 3"
  >
    {{ paging?.page + 3 }}
  </div>
  <div
    class="next_"
    (click)="
      paging.page = paging?.page + (paging?.page < paging?.totalPage ? 1 : 0)
    "
  ></div>
</div>
