<div class="pageTitle" *ngIf="page === 'stockReturn'">
  <div class="arrowBack" (click)="onBack(null)"></div>
  STOCK RETURN
</div>
<div class="pageTitle" *ngIf="page === 'stockTaking'">
  <div class="arrowBack" (click)="onBack(null)"></div>
  INVENTORY COUNT
</div>
<div class="pageTitle" *ngIf="page === 'stockTakingEach'">
  <div class="arrowBack" (click)="onBack('stockTaking')"></div>
  {{ selctedStockTakingBanch?.branchName }}
</div>
<div class="pageTitle" *ngIf="page === 'stockTakingReview'">
  <div class="arrowBack" (click)="onBack('stockTaking')"></div>
  INVENTORY REVIEV&nbsp;
  <span style="font-size: 1vw">{{ selctedStockTakingReview?.branchName }}</span>
</div>
<div class="pageTitle" *ngIf="page === 'stockTrail'">
  <div class="arrowBack" (click)="onBack(null)"></div>
  STOCK TRAIL &nbsp;<span style="color: #406ca5; font-size: 1vw">{{
    selectedStockTrail?.name
  }}</span>
</div>
<div class="pageTitle" *ngIf="page === 'stockAdjestment'">
  <div class="arrowBack" (click)="onBack(null)"></div>
  STOCK ADJESTMENT
</div>
<div class="pageTitle" *ngIf="page === 'stockLookup'">
  <div class="arrowBack" (click)="onBack(null)"></div>
  STOCK LOOKUP
</div>
<div class="pageTitle" *ngIf="page === 'mslLookup'">
  <div class="arrowBack" (click)="onBack(null)"></div>
  MSL LOOKUP
</div>
<div class="pageTitle" *ngIf="page === 'newStockReturn'">
  <div class="arrowBack" (click)="onBack('stockReturn')"></div>
  STOCK RETURN
</div>
<div
  class="tableFilterHeader"
  *ngIf="
    page === 'stockReturn' ||
    page === 'stockTaking' ||
    page === 'stockTrail' ||
    page === 'stockAdjestment' ||
    page === 'stockLookup' ||
    page === 'mslLookup'
  "
>
  <div class="navTab" *ngIf="page === 'stockTaking'">
    <div
      [ngClass]="stockTakingSubPage === 0 ? 'navTabEach_' : 'navTabEach'"
      (click)="onClickStockTakingSubPage(0)"
    >
      Due (10)
    </div>
    <div
      [ngClass]="stockTakingSubPage === 1 ? 'navTabEach_' : 'navTabEach'"
      (click)="onClickStockTakingSubPage(1)"
    >
      Complated (10)
    </div>
    <div
      [ngClass]="stockTakingSubPage === 2 ? 'navTabEach_' : 'navTabEach'"
      (click)="onClickStockTakingSubPage(2)"
    >
      Cancelled (10)
    </div>
  </div>
  <input class="input" placeholder="Search a product" />
  <div class="categoryTitle">SHOWING:</div>
  <select class="input">
    <option hidden>Select Category</option>
  </select>
  <div class="downloadButton"></div>
  <div
    class="addButton"
    *ngIf="page === 'stockReturn'"
    (click)="onClickStockReturn()"
  >
    + Stock Return
  </div>
  <div
    class="addButton"
    *ngIf="page === 'stockTaking'"
    (click)="onClickStockTaking()"
  >
    + New Count
  </div>
</div>
<div class="tableFilterHeader" *ngIf="page === 'stockTakingEach'">
  <div class="navTab" style="width: 100%">
    <div
      [ngClass]="stockTakingEachSubPage === 0 ? 'navTabEach_' : 'navTabEach'"
      (click)="onClickStockTakingEachSubPage(0)"
    >
      All ({{ selctedStockTakingBanch?.all }})
    </div>
    <div
      [ngClass]="stockTakingEachSubPage === 1 ? 'navTabEach_' : 'navTabEach'"
      (click)="onClickStockTakingEachSubPage(1)"
    >
      Counted ( {{ selctedStockTakingBanch?.counted }} )
    </div>
    <div
      [ngClass]="stockTakingEachSubPage === 2 ? 'navTabEach_' : 'navTabEach'"
      (click)="onClickStockTakingEachSubPage(2)"
    >
      Uncounted ( {{ selctedStockTakingBanch?.unCounted }} )
    </div>
  </div>
  <div class="addButton" (click)="onClickStartCount()">
    {{
      selctedStockTakingBanch?.status === "started"
        ? "SUBMIT FOR REVIEW"
        : "START COUNT"
    }}
  </div>
</div>
<div class="tableFilterHeader" *ngIf="page === 'stockTakingReview'">
  <div class="navTab" style="width: 100%">
    <div
      [ngClass]="stockReviewSubPage === 0 ? 'navTabEach_' : 'navTabEach'"
      (click)="onClickStockReviewSubPage(0)"
    >
      Uncounted ( {{ selctedStockTakingReview?.unCounted }} )
    </div>
    <div
      [ngClass]="stockReviewSubPage === 1 ? 'navTabEach_' : 'navTabEach'"
      (click)="onClickStockReviewSubPage(1)"
    >
      Counted ( {{ selctedStockTakingReview?.counted }} )
    </div>
    <div
      [ngClass]="stockReviewSubPage === 2 ? 'navTabEach_' : 'navTabEach'"
      (click)="onClickStockReviewSubPage(2)"
    >
      Unmatched ({{ selctedStockTakingReview?.unMatched }})
    </div>
    <div
      [ngClass]="stockReviewSubPage === 3 ? 'navTabEach_' : 'navTabEach'"
      (click)="onClickStockReviewSubPage(3)"
    >
      Matched ({{ selctedStockTakingReview?.matched }})
    </div>
    <div
      [ngClass]="stockReviewSubPage === 4 ? 'navTabEach_' : 'navTabEach'"
      (click)="onClickStockReviewSubPage(4)"
    >
      All ({{ selctedStockTakingReview?.all }})
    </div>
  </div>
  <MyButtons
    [type]="'listButton'"
    [dropList]="['Reject Stocktake', 'Reopen Stocktake']"
    [onSelect]="onDropSrockTakingReviewBtn"
    label="MARK COMPLATE"
  ></MyButtons>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'stockReturn'">
  <div class="table">
    <div class="header">
      <div></div>
      <div style="width: 12%">TRANSACTION</div>
      <div style="width: 12%">DATE</div>
      <div style="width: 12%">TRANSFER FROM</div>
      <div style="width: 12%">TRANSFER TO</div>
      <div style="width: 12%">DISCRIPTION</div>
      <div style="width: 8%">COUNT</div>
      <div style="width: 8%; text-align: right">Amount</div>
      <div></div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allStocks?.content">
        <div></div>
        <div class="content" style="width: 12%; color: #406ca5">
          {{ it?.transaction }}
        </div>
        <div class="content" style="width: 12%">{{ it?.date }}</div>
        <div class="content" style="width: 12%">{{ it?.transferFrom }}</div>
        <div class="content" style="width: 12%">{{ it?.transferTo }}</div>
        <div class="content" style="width: 12%">{{ it?.desc }}</div>
        <div class="content" style="width: 8%">{{ it?.count }}</div>
        <div class="content" style="width: 8%; text-align: right">
          {{ it?.amount }}
        </div>
        <div></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allStocks?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'stockTaking'">
  <div class="table">
    <div class="header">
      <div></div>
      <div style="width: 25%">COUNT DETAILS</div>
      <div style="width: 15%">START DATE</div>
      <div style="width: 15%">COUNT TYPE</div>
      <div style="width: 15%">END BEFORE</div>
      <div style="width: 15%">COUNTING STATUS</div>
      <div style="width: 8%">REVIEW STATUS</div>
      <div></div>
    </div>
    <div class="body">
      <div
        class="row"
        *ngFor="let it of allStocks?.content"
        (click)="onClickStockTakingEach(it)"
      >
        <div></div>
        <div
          class="content"
          style="width: 25%; color: #406ca5; font-weight: 500"
        >
          {{ it?.branchName }}
        </div>
        <div class="content" style="width: 15%">{{ it?.date }}</div>
        <div class="content" style="width: 15%">{{ it?.transferFrom }}</div>
        <div class="content" style="width: 15%">{{ it?.transferTo }}</div>
        <div class="content" style="width: 15%">{{ it?.desc }}</div>
        <div
          class="content"
          style="width: 8%; color: #406ca5; padding: 0.2vw 1vw"
          (click)="onClickReviewInStockTaking(it)"
        >
          {{ it?.status }}
        </div>
        <div></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allStocks?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div
  class="tableBody"
  *ngIf="page === 'stockTakingReview'"
  style="height: calc(100vh - 17vw)"
>
  <div class="table">
    <div class="header">
      <div></div>
      <div style="width: 30%">PRODUCT</div>
      <div style="width: 15%">EXPECTED</div>
      <div style="width: 15%">COUNTED</div>
      <div style="width: 15%">DIFFERENCE(COUNTED)</div>
      <div style="width: 15%; text-align: right">DIFFERENCE(VALUE)</div>
      <div></div>
    </div>
    <div class="body" style="height: calc(94%)">
      <div class="row" *ngFor="let it of allStocksTakingReviewList?.content">
        <div></div>
        <div
          class="content"
          style="width: 30%; color: #406ca5; font-weight: 500"
        >
          {{ it?.name }}
        </div>
        <div
          class="content"
          style="width: 15%"
          [ngStyle]="{ color: it?.expected < 0 && 'red' }"
        >
          {{ it?.expected }} PSC
        </div>
        <div
          class="content"
          style="width: 15%"
          [ngStyle]="{ color: it?.counted < 0 && 'red' }"
        >
          {{ it?.counted }} PSC
        </div>
        <div
          class="content"
          style="width: 15%"
          [ngStyle]="{ color: it?.differenceCounted < 0 && 'red' }"
        >
          {{ it?.differenceCounted }} PSC
        </div>
        <div
          class="content"
          style="width: 15%; text-align: right"
          [ngStyle]="{ color: it?.differenceValue < 0 && 'red' }"
        >
          {{ it?.differenceValue }}
        </div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="row" style="font-size: 1.2vw">
    <div></div>
    <div style="width: 30%"></div>
    <div
      class="content"
      style="width: 15%"
      [ngStyle]="{
        color: allStocksTakingReviewList?.totalExpected < 0 && 'red'
      }"
    >
      {{ allStocksTakingReviewList?.totalExpected }} COUNT
    </div>
    <div
      class="content"
      style="width: 15%"
      [ngStyle]="{
        color: allStocksTakingReviewList?.totalCounted < 0 && 'red'
      }"
    >
      {{ allStocksTakingReviewList?.totalCounted }} COUNT
    </div>
    <div
      class="content"
      style="width: 15%"
      [ngStyle]="{
        color: allStocksTakingReviewList?.totalDifferenceCounted < 0 && 'red'
      }"
    >
      {{ allStocksTakingReviewList?.totalDifferenceCounted }} COUNT
    </div>
    <div
      class="content"
      style="width: 15%; text-align: right"
      [ngStyle]="{
        color: allStocksTakingReviewList?.totalDifferenceValue < 0 && 'red'
      }"
    >
      INR {{ allStocksTakingReviewList?.totalDifferenceValue }}
    </div>
    <div></div>
  </div>
  <app-table-paging [paging]="allStocks?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div
  class="tableBody"
  style="height: calc(100vh - 10vw)"
  *ngIf="page === 'stockTrail'"
>
  <div class="table">
    <div class="header">
      <div></div>
      <div style="width: 22%">DATE</div>
      <div style="width: 12%">PARTY</div>
      <div style="width: 12%">TYPE</div>
      <div style="width: 12%">QTY</div>
      <div style="width: 12%">AMOUNT</div>
      <div style="width: 12%">COST</div>
      <div style="width: 12%">STOCK</div>
      <div></div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of selectedStockTrail?.content">
        <div></div>
        <div class="content" style="width: 22%; color: #406ca5">
          {{ it?.date }}
        </div>
        <div class="content" style="width: 12%">{{ it?.party }}</div>
        <div class="content" style="width: 12%">{{ it?.type }}</div>
        <div class="content" style="width: 12%">{{ it?.qty }}</div>
        <div class="content" style="width: 12%">{{ it?.amount }}</div>
        <div class="content" style="width: 12%">{{ it?.cost }}</div>
        <div class="content" style="width: 12%">{{ it?.stock }}</div>
        <div></div>
      </div>
    </div>
  </div>
  <!-- <app-table-paging [paging]="allProduct?.paging"></app-table-paging> -->
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'stockAdjestment'">
  <div class="table">
    <div class="header">
      <div></div>
      <div style="width: 6%"></div>
      <div style="width: 22%; color: #406ca5">Product Name</div>
      <div style="width: 10%; color: #406ca5">CODE</div>
      <div style="width: 16%">PARENT CATEGORY</div>
      <div style="width: 16%">CATEGORY</div>
      <div style="width: 10%">MSL</div>
      <div style="width: 10%">STOCK</div>
      <div></div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allProduct?.content">
        <div></div>
        <div class="content" style="width: 6%">
          <img
            [src]="it?.image"
            style="
              object-fit: cover;
              border-radius: 50%;
              width: 1.5vw;
              height: 1.5vw;
              margin-left: 1vw;
            "
          />
        </div>
        <div class="content" style="width: 22%">{{ it?.name }}</div>
        <div class="content" style="width: 10%; color: #406ca5">
          {{ it?.code }}
        </div>
        <div class="content" style="width: 16%">{{ it?.parentCategory }}</div>
        <div class="content" style="width: 16%">{{ it?.category }}</div>
        <div class="content" style="width: 10%">{{ it?.msl }}</div>
        <div class="content" style="width: 10%">{{ it?.stock }}</div>
        <div></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allProduct?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'stockLookup'">
  <div class="table">
    <div class="header">
      <div></div>
      <div style="width: 4%"></div>
      <div style="width: 30%">Product Name</div>
      <div style="width: 13%; color: #406ca5">CODE</div>
      <div style="width: 18%">CATEGORY</div>
      <div style="width: 13%">TYPE</div>
      <div style="width: 13%">STOCK</div>
      <div></div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allProduct?.content">
        <div></div>
        <div class="content" style="width: 4%">
          <img
            [src]="it?.image"
            style="
              object-fit: cover;
              border-radius: 50%;
              width: 1.5vw;
              height: 1.5vw;
              margin-left: 1vw;
            "
          />
        </div>
        <div class="content" style="width: 30%">{{ it?.name }}</div>
        <div class="content" style="width: 13%">{{ it?.code }}</div>
        <div class="content" style="width: 18%">{{ it?.category }}</div>
        <div class="content" style="width: 13%">{{ it?.type }}</div>
        <div class="content" style="width: 13%">{{ it?.stock }}</div>
        <div></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allProduct?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'mslLookup'">
  <div class="table">
    <div class="header">
      <div></div>
      <div style="width: 6%"></div>
      <div style="width: 22%">Product Name</div>
      <div style="width: 10%">CODE</div>
      <div style="width: 12%">CATEGORY</div>
      <div style="width: 10%">TYPE</div>
      <div style="width: 10%">MSL</div>
      <div style="width: 10%">STOCK</div>
      <div style="width: 10%; text-align: center">DEFFERENCE</div>
      <div></div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allProduct?.content">
        <div></div>
        <div class="content" style="width: 6%">
          <img
            [src]="it?.image"
            style="
              object-fit: cover;
              border-radius: 50%;
              width: 1.5vw;
              height: 1.5vw;
              margin-left: 1vw;
            "
          />
        </div>
        <div class="content" style="width: 22%">{{ it?.name }}</div>
        <div class="content" style="width: 10%; color: #406ca5">
          {{ it?.code }}
        </div>
        <div class="content" style="width: 12%">{{ it?.category }}</div>
        <div class="content" style="width: 10%">{{ it?.type }}</div>
        <div class="content" style="width: 10%">{{ it?.msl }}</div>
        <div class="content" style="width: 10%">{{ it?.stock }}</div>
        <div class="content" style="width: 10%; text-align: center">
          {{ it?.difference }}
        </div>
        <div></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allProduct?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="formLayout" *ngIf="page === 'newStockReturn'">
  <div
    class="formHeaderBox"
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <div style="width: 12%">
      <div>Date</div>
      <input
        class="defaultInput"
        placeholder="Search for a supplier"
        style="width: 100%"
        type="date"
      />
    </div>
    <div style="width: 25%">
      <div>Return to Supplier*</div>
      <select class="defaultInput" style="width: 100%">
        <option>Select supplier</option>
      </select>
    </div>
    <div style="width: 25%">
      <div>Discription</div>
      <input class="defaultInput" style="width: 100%" />
    </div>
    <div style="width: 30%"></div>
  </div>
  <div class="formTableHeader">
    <div class="value" style="width: 3%"></div>
    <div class="value" style="width: 35%">Product / Service</div>
    <div class="value" style="width: 10%">Qty</div>
    <div class="value" style="width: 20%">Return reason</div>
    <div class="value" style="width: 12%">Prodect value</div>
    <div class="value" style="width: 10%; text-align: right">Tax Amount</div>
    <div class="value" style="width: 10%; text-align: right">Total</div>
  </div>
  <div class="formTableBody">
    <div class="formTableRow" *ngFor="let it of [{}, {}]">
      <div class="value" style="width: 3%"></div>
      <div class="value" style="width: 35%">
        <select class="defaultInput" style="width: 100%">
          <option>SELECT PRODUCT</option>
        </select>
      </div>
      <div class="value" style="width: 10%">
        <input
          class="defaultInput"
          placeholder="0.00"
          style="width: 100%; text-align: right"
        />
      </div>
      <div class="value" style="width: 20%">
        <input
          class="defaultInput"
          placeholder="0.00"
          style="width: 100%; text-align: right"
        />
      </div>
      <div class="value" style="width: 12%">
        <input placeholder="0.00" class="defaultInput" style="width: 100%" />
      </div>
      <div class="value" style="width: 10%; padding: 0.5vw; text-align: right">
        89,800.00
      </div>
      <div class="value" style="width: 10%; padding: 0.5vw; text-align: right">
        89,800.00
      </div>
    </div>
  </div>
  <div
    class="formHeaderBox"
    style="display: flex; justify-content: space-between"
  >
    <div style="width: 44%">
      <div style="width: 100%">
        <div>Delevery Address</div>
        <textarea
          class="defaultInput"
          style="width: 100%; height: 6vw"
          placeholder="Adress..."
        ></textarea>
        <div>Stock Return Note</div>
        <textarea
          class="defaultInput"
          style="width: 100%"
          placeholder="Stock Return Note here"
        ></textarea>
      </div>
    </div>
    <div style="width: 35%; line-height: 3vw">
      <div style="width: 100%; display: flex; justify-content: space-between">
        <div>Subtotal</div>
        <div>1,19,700.00</div>
      </div>
      <div style="width: 100%; display: flex; justify-content: space-between">
        <div>Tax</div>
        <div>1,19,700.00</div>
      </div>
      <div
        style="
          width: 100%;
          display: flex;
          justify-content: space-between;
          font-size: 1vw;
        "
      >
        <div>Total</div>
        <div>1,19,700.00</div>
      </div>
    </div>
  </div>
  <div class="formFooterBar">
    <div class="blueButton">SAVE & PRINT</div>
    <div class="blueButton">CLOSE</div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="popup1" *ngIf="selectedPopUp === 'inventoryCountPopup'">
  <div class="body">
    <div class="header">
      New Inventory Count
      <div class="closeBtn" (click)="selectedPopUp = ''"></div>
    </div>
    <div class="desc">Initiate a new inventory count in your branch</div>
    <div class="bodyRow">
      <div class="contentBody">
        <div>Inventory Count Title*</div>
        <input class="input" placeholder="Inventory count name here" />
      </div>
      <div class="contentBody">
        <div>Start date</div>
        <input class="input" style="width: 11vw" type="date" />
      </div>
      <div class="contentBody">
        <div>End Date</div>
        <input class="input" style="width: 11vw" type="date" />
      </div>
    </div>
    <div class="bodyRow">
      <div class="contentBody">
        <div>Inventory Count Type*</div>
        <select class="input"></select>
      </div>
      <div class="contentBody">
        <div>Select Category</div>
        <select class="input">
          <option>Select categories for this inventory count</option>
        </select>
        <div class="selectedList">
          <div class="selectedItem">
            ACCESSORIES
            <div class="selectedItemDlt"></div>
          </div>
          <div class="selectedItem">
            MOBILES
            <div class="selectedItemDlt"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="errorMsg">Errro on page</div>
      <div class="btns">
        <div class="cancelBtn" (click)="selectedPopUp = ''">CANCEL</div>
        <div class="saveBtn" (click)="onClickSaveOnInventoryCountPopup()">
          SAVE
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="popup1" *ngIf="selectedPopUp === 'rejectStovkTakePopup'">
  <div class="body">
    <div class="header">
      <span>
        Reject Stocktake
        <span style="font-size: 0.9vw; color: gray"
          >Obron Mall 13 April 2022-Men's Jeans</span
        >
      </span>
      <div class="closeBtn" (click)="selectedPopUp = ''"></div>
    </div>
    <div class="desc">
      You have chosen to reject this inventory count. FuelTrans will not record
      this stock count and marked as rejected.
    </div>
    <div class="desc">
      A record of this count will be saved, but you no longer will be able to
      edit it.
    </div>
    <div class="footer">
      <div class="errorMsg">Errro on page</div>
      <div class="btns">
        <div class="cancelBtn" (click)="selectedPopUp = ''">CANCEL</div>
        <div class="saveBtn">REJECT</div>
      </div>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="popup1" *ngIf="selectedPopUp === 'reopenStovkTakePopup'">
  <div class="body">
    <div class="header">
      <span>
        Reject Stocktake
        <span style="font-size: 0.9vw; color: gray"
          >Obron Mall 13 April 2022-Men's Jeans</span
        > 
      </span>
      <div class="closeBtn" (click)="selectedPopUp = ''"></div>
    </div>
    <div class="desc">
      You have chosen to reopen this inventory count. FuelTrans will not record
      this stock count and marked as reopened.
    </div>
    <div class="desc">
      This will remain open for recount, but all the data recorded will be
      cleared for a fresh count.
    </div>
    <div class="footer">
      <div class="errorMsg">Errro on page</div>
      <div class="btns">
        <div class="cancelBtn" (click)="selectedPopUp = ''">CANCEL</div>
        <div class="saveBtn">REOPEN</div>
      </div>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="popup1" *ngIf="page === 'stockTrailPopup'">
  <div class="body">
    <div class="header">
      Select Product
      <div class="closeBtn" (click)="onBack(null)"></div>
    </div>
    <div class="desc">Select the product to track its journay</div>
    <div class="bodyRow">
      <div class="contentBody">
        <div>Select Product*</div>
        <select class="input">
          <option>Select Product</option>
        </select>
      </div>
    </div>
    <div class="bodyRow">
      <div class="contentBody">
        <div>From Date*</div>
        <input class="input" type="date" />
      </div>
      <div class="contentBody">
        <div>To Date*</div>
        <input class="input" type="date" />
      </div>
    </div>
    <div class="footer">
      <div class="errorMsg">Errro on page</div>
      <div class="btns">
        <div class="cancelBtn" (click)="onBack(null)">CANCEL</div>
        <div class="saveBtn" (click)="onClickNextOnStockTrailPopup()">NEXT</div>
      </div>
    </div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////// STOCK TAKING PAGE ///////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////// -->
<div class="stockTakingEach" *ngIf="page === 'stockTakingEach'">
  <div class="leftSide">
    <div class="eachArea searchArea">
      <div style="display: flex">
        <div style="width: 58%">Scan or search an item to count</div>
        <div style="width: 40%">Record Count</div>
      </div>
      <div style="display: flex; align-items: center">
        <input
          class="defaultInput"
          placeholder="Type here"
          style="width: 55.5%"
        />
        &nbsp; &nbsp; &nbsp; &nbsp;
        <input
          class="defaultInput"
          placeholder="Type here"
          style="width: 20%"
        />
        <div class="blueButton">COUNT</div>
        <span style="text-align: right; font-size: 0.7vw"
          >Enable<br />quick scan</span
        >
        &nbsp;
        <MyButtons [type]="'switch'" [onSelect]=""></MyButtons>
      </div>
    </div>
    <div class="eachArea listArea">
      <div class="tableHead">
        <div style="width: 60%">Product</div>
        <div style="width: 15%">Counted</div>
        <div style="width: 15%">Action</div>
      </div>
      <div
        class="tableRow"
        *ngFor="let it of allStocksTakingReviewList?.content"
      >
        <div style="width: 60%">{{ it?.name }}</div>
        <div style="width: 15%">{{ it?.counted }}PCS</div>
        <div style="width: 15%; cursor: pointer">Clear</div>
      </div>
    </div>
  </div>
  <div class="rightSide">
    <div class="eachArea historyArea">
      <div class="historyTitle">
        History
        <span>You can cancel a recent count in case of a mistake</span>
      </div>
      <div
        class="eachArea historyProdect"
        *ngFor="let it of [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]"
      >
        <div style="width: 10%">1</div>
        <div style="width: 70%">Leves Rocker Jeans/BLUE/32 - 125</div>
        <div style="width: 15%">2 PCS</div>
        <div style="width: 10%" class="dltIcon"></div>
      </div>
    </div>
    <div class="eachArea saveBtnArea">
      <button>SAVE COUNT</button>
    </div>
  </div>
</div>
