<div class="header">
  <div class="titile" (click)="onChangePage('')">
    Configurations > Document Prefix
  </div>
</div>
<div class="formBody">
  <div class="row">
    <div class="title">Sales Invoice</div>
    <input class="defaultInput" placeholder="XXX" />
    <div class="title">Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />
  </div>
  <div class="row">
    <div class="title">Purchase Invoice</div>
    <input class="defaultInput" placeholder="XXX" />
    <div class="title">Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />
  </div>
  <div class="row">
    <div class="title">Expense Transaction</div>
    <input class="defaultInput" placeholder="XXX" />
    <div class="title">Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />
  </div>
  <div class="row">
    <div class="title">Fund Transfer</div>
    <input class="defaultInput" placeholder="XXX" />
    <div class="title">Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />
  </div>
  <div class="row">
    <div class="title">Payment Receipt</div>
    <input class="defaultInput" placeholder="XXX" />
    <div class="title">Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />
  </div>
  <div class="row">
    <div class="title">Payment Voucher</div>
    <input class="defaultInput" placeholder="XXX" />
    <div class="title">Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />
  </div>
  <div class="row">
    <div class="title">Salary Payments</div>
    <input class="defaultInput" placeholder="XXX" />
    <div class="title">Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />
  </div>
  <div class="row">
    <div class="title">Invoice Return</div>
    <input class="defaultInput" placeholder="XXX" />
    <div class="title">Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />
  </div>
  <div class="row">
    <div class="title">Purchase Return</div>
    <input class="defaultInput" placeholder="XXX" />
    <div class="title">Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />
  </div>
  <div class="row">
    <div class="title">Store Credit</div>
    <input class="defaultInput" placeholder="XXX" />
    <div class="title">Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />
  </div>
  <div class="row">
    <div class="title">Supplier Advance</div>
    <input class="defaultInput" placeholder="XXX" />
    <div class="title">Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />
  </div>
  <div class="row">
    <div class="title">Estimate Invoice</div>
    <input class="defaultInput" placeholder="XXX" />
    <div class="title">Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />
  </div>
  <div class="row">
    <div class="title">Purchase Order</div>
    <input class="defaultInput" placeholder="XXX" />
    <div class="title">Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />
  </div>
</div>
<div class="footer">
  <div class="errorMsg">Errro on page</div>
  <div class="btns">
    <div class="cancelBtn" (click)="onChangePage('')">CANCEL</div>
    <div class="saveBtn">SAVE</div>
  </div>
</div>
