.formBody {
  padding: 1vw;
  height: calc(100vh - 15.2vw);
  overflow: auto;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1vw;
  padding: 0.5vw 2vw;
}
.row:nth-child(odd) {
  background-color: #f3f6f9;
}
.updateBtn {
  margin: 0 0.5vw;
  background-color: var(--myColor);
  border-radius: 0.3vw;
  padding: 0.5vw 2.5vw;
  cursor: pointer;
  color: white;
  font-size: 1vw;
  margin-left: 5vw;
}