<div class="header">
  <div class="titile" (click)="onChangePage('')">
    Configurations > Document Prefix
  </div>
</div>
<div class="formBody">
  <div class="row">
    <div style="width: 15vw">Sales Invoice</div>
    <input class="defaultInput" placeholder="XXX" />
    <div>Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />
    <button class="updateBtn">UPDATE</button>
  </div>
  <div class="row">
    <div style="width: 15vw">Purchase Invoice</div>
    <input class="defaultInput" placeholder="XXX" />
    <div>Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />

    <button class="updateBtn">UPDATE</button>
  </div>
  <div class="row">
    <div style="width: 15vw">Expense Transaction</div>
    <input class="defaultInput" placeholder="XXX" />
    <div>Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />

    <button class="updateBtn">UPDATE</button>
  </div>
  <div class="row">
    <div style="width: 15vw">Fund Transfer</div>
    <input class="defaultInput" placeholder="XXX" />
    <div>Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />

    <button class="updateBtn">UPDATE</button>
  </div>
  <div class="row">
    <div style="width: 15vw">Payment Receipt</div>
    <input class="defaultInput" placeholder="XXX" />
    <div>Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />

    <button class="updateBtn">UPDATE</button>
  </div>
  <div class="row">
    <div style="width: 15vw">Payment Voucher</div>
    <input class="defaultInput" placeholder="XXX" />
    <div>Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />

    <button class="updateBtn">UPDATE</button>
  </div>
  <div class="row">
    <div style="width: 15vw">Salary Payments</div>
    <input class="defaultInput" placeholder="XXX" />
    <div>Starting Serial</div>
    <input class="defaultInput" placeholder="0000" />

    <button class="updateBtn">UPDATE</button>
  </div>
  <div class="row">
    <div style="width: 15vw">Invoice Return</div>
    <input class="defaultInput" placeholder="XXX" />
    <div>Starting Serial</div>
    <input
      class="defaultInput"
      placeholder="
    0000"
    />
    <button class="updateBtn">UPDATE</button>
  </div>
  <div class="row">
    <div style="width: 15vw">Purchase Return</div>
    <input class="defaultInput" placeholder="XXX" />
    <div>Starting Serial</div>
    <input
      class="defaultInput"
      placeholder="
    0000"
    />
    <button class="updateBtn">UPDATE</button>
  </div>
  <div class="row">
    <div style="width: 15vw">Store Credit</div>
    <input class="defaultInput" placeholder="XXX" />
    <div>Starting Serial</div>
    <input
      class="defaultInput"
      placeholder="
    0000"
    />
    <button class="updateBtn">UPDATE</button>
  </div>
  <div class="row">
    <div style="width: 15vw">Supplier Advance</div>
    <input class="defaultInput" placeholder="XXX" />
    <div>Starting Serial</div>
    <input
      class="defaultInput"
      placeholder="
    0000"
    />
    <button class="updateBtn">UPDATE</button>
  </div>
  <div class="row">
    <div style="width: 15vw">Estimate Invoice</div>
    <input class="defaultInput" placeholder="XXX" />
    <div>Starting Serial</div>
    <input
      class="defaultInput"
      placeholder="
    0000"
    />
    <button class="updateBtn">UPDATE</button>
  </div>
  <div class="row">
    <div style="width: 15vw">Purchase Order</div>
    <input class="defaultInput" placeholder="XXX" />
    <div>Starting Serial</div>
    <input
      class="defaultInput"
      placeholder="
    0000"
    />
    <button class="updateBtn">UPDATE</button>
  </div>
</div>
