.denominationBody {
  padding: 2vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.denominationBody .leftBody {
  font-size: 1.4vw;
}
.denominationBody .rightBody {
  width: 40vw;
}

.denominationBody .adderContainer {
  border-radius: 0.5vw;
  background-color: var(--myColor);
  padding: 1vw;
  display: flex;
  justify-content: space-between;
}
.denominationBody .addButton {
  border-radius: 0.3vw;
  background-color: rgb(196, 196, 196);
  padding: 0.5vw 4vw;
  cursor: pointer;
  box-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.266);
  font-size: 1vw;
}
.denominationBody .addedList {
  padding: 1vw 0;
  display: flex;
  flex-wrap: wrap;
}
.denominationBody .addedEach {
  background-color: var(--myColor);
  border-radius: 0.2vw;
  padding: 0.3vw 0.6vw;
  font-size: 0.9vw;
  color: white;
  display: flex;
  align-items: center;
  margin: 0.3vw;
}
.denominationBody .addedEachDlt {
  width: 0.8vw;
  height: 0.8vw;
  background-image: url(../../../assets/ic_bin12.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 1vw;
  cursor: pointer;
}
/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
.formBlankScreen1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000088;
}
.drowerForm,
.drowerForm_ {
  transition: 0.3s;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 25vw;
  background-color: white;
}
.drowerForm_ {
  right: -25vw;
}
.drowerForm .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2vw;
  background-color: #e1e2e5;
  padding: 0.7vw 1.2vw;
  font-weight: bold;
  color: var(--myColor);
}
.drowerForm .closeBtn {
  width: 1.4vw;
  height: 1.4vw;
  cursor: pointer;
  background-image: url(../../../assets/ic_x.svg);
  background-position: center;
  background-size: 1.2vw;
  background-repeat: no-repeat;
}
/* //////////////////////////////////////////////// */
.drowerForm .body {
  height: calc(100vh - 6.4vw);
  overflow: auto;
  padding: 2vw;
  background-color: #f5f6f9;
  box-sizing: border-box;
}
.drowerForm .formTitle {
  font-size: 0.9vw;
  padding-top: 1.2vw;
  padding-left: 0.3vw;
  padding-bottom: 0.3vw;
}
.drowerForm input,
textarea {
  width: 100%;
  padding: 0.5vw 0.8vw;
  background-color: white;
  border-radius: 0.3vw;
  border: none;
  box-sizing: border-box;
}
/* //////////////////////////////////////////////// */
.drowerForm .footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.8vw 1.2vw;
  background-color: #eceff4;
}
.drowerForm .cancelBtn {
  margin: 0 0.5vw;
  border-radius: 0.3vw;
  padding: 0.4vw 1.5vw;
  background-color: #c9e1ff;
  color: var(--myColor);
  cursor: pointer;
  font-weight: 500;
}
.drowerForm .saveBtn {
  margin: 0 0.5vw;
  background-color: var(--myColor);
  border-radius: 0.3vw;
  padding: 0.4vw 1.5vw;
  cursor: pointer;
  font-weight: 500;
  color: white;
}
