<div class="header">
  <div class="titile" (click)="onChangePage('')">
    Configurations > Master Settings
  </div>
  <div class="navRow">
    <div class="navBar">
      <div
        [ngClass]="navCount === 0 ? 'eachButton_' : 'eachButton'"
        (click)="navCount = 0"
      >
        Bank Settings
        <div
          [ngClass]="navCount === 0 ? 'buttonBottom_' : 'buttonBottom'"
        ></div>
      </div>
      <div
        [ngClass]="navCount === 1 ? 'eachButton_' : 'eachButton'"
        (click)="navCount = 1"
      >
        Mode of payment
        <div
          [ngClass]="navCount === 1 ? 'buttonBottom_' : 'buttonBottom'"
        ></div>
      </div>
      <div
        [ngClass]="navCount === 2 ? 'eachButton_' : 'eachButton'"
        (click)="navCount = 2"
      >
        Tax Settings
        <div
          [ngClass]="navCount === 2 ? 'buttonBottom_' : 'buttonBottom'"
        ></div>
      </div>
      <div
        [ngClass]="navCount === 3 ? 'eachButton_' : 'eachButton'"
        (click)="navCount = 3"
      >
        Parent Category
        <div
          [ngClass]="navCount === 3 ? 'buttonBottom_' : 'buttonBottom'"
        ></div>
      </div>
      <div
        [ngClass]="navCount === 4 ? 'eachButton_' : 'eachButton'"
        (click)="navCount = 4"
      >
        Product Category
        <div
          [ngClass]="navCount === 4 ? 'buttonBottom_' : 'buttonBottom'"
        ></div>
      </div>
      <div
        [ngClass]="navCount === 5 ? 'eachButton_' : 'eachButton'"
        (click)="navCount = 5"
      >
        Expense Category
        <div
          [ngClass]="navCount === 5 ? 'buttonBottom_' : 'buttonBottom'"
        ></div>
      </div>
      <div
        [ngClass]="navCount === 6 ? 'eachButton_' : 'eachButton'"
        (click)="navCount = 6"
      >
        Denominations
        <div
          [ngClass]="navCount === 6 ? 'buttonBottom_' : 'buttonBottom'"
        ></div>
      </div>
      <div
        [ngClass]="navCount === 7 ? 'eachButton_' : 'eachButton'"
        (click)="navCount = 7"
      >
        Allowances & Incentives
        <div
          [ngClass]="navCount === 7 ? 'buttonBottom_' : 'buttonBottom'"
        ></div>
      </div>
      <div
        [ngClass]="navCount === 8 ? 'eachButton_' : 'eachButton'"
        (click)="navCount = 8"
      >
        Branch
        <div
          [ngClass]="navCount === 8 ? 'buttonBottom_' : 'buttonBottom'"
        ></div>
      </div>
      <div
        [ngClass]="navCount === 9 ? 'eachButton_' : 'eachButton'"
        (click)="navCount = 9"
      >
        Vehicle type
        <div
          [ngClass]="navCount === 9 ? 'buttonBottom_' : 'buttonBottom'"
        ></div>
      </div>
    </div>
    <div class="options">
      <div
        class="grrenButton"
        *ngIf="navCount === 0"
        (click)="onClickAddBank()"
      >
        + Add New Bank
      </div>
      <div class="grrenButton" *ngIf="navCount === 1" (click)="onClickAddMOP()">
        + Add New MOP
      </div>
      <div class="grrenButton" *ngIf="navCount === 2" (click)="onClickAddTax()">
        + Add New Tax
      </div>
      <div
        class="grrenButton"
        *ngIf="navCount === 3"
        (click)="onClickAddParentCategory()"
      >
        + Add Parent Category
      </div>
      <div
        class="grrenButton"
        *ngIf="navCount === 4"
        (click)="onClickAddProductCategory()"
      >
        + Add Product Category
      </div>
      <div
        class="grrenButton"
        *ngIf="navCount === 5"
        (click)="onClickAddExpenseCategory()"
      >
        + Add Expence Category
      </div>
      <div
        class="grrenButton"
        *ngIf="navCount === 7"
        (click)="onClickAddAllowancesIncentives()"
      >
        + Allowances & Incentives
      </div>
      <div
        class="grrenButton"
        *ngIf="navCount === 8"
        (click)="onClickAddBranch()"
      >
        + Add Branchs
      </div>
      <div
        class="grrenButton"
        *ngIf="navCount === 9"
        (click)="onClickAddVehicleType()"
      >
        + Add Vehcile
      </div>
    </div>
  </div>
</div>
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="navCount === 0">
  <div class="table">
    <div class="header">
      <div style="width: 8%"></div>
      <div style="width: 75%">BANK</div>
      <div style="width: 15%; display: flex; justify-content: center">
        ACTION
      </div>
    </div>
    <div class="body">
      <div
        class="row"
        style="align-items: center"
        *ngFor="let it of allBanks?.content"
      >
        <div style="width: 8%">
          <img class="tableLogoDispplay" [src]="it.logo" />
        </div>
        <div style="width: 75%">{{ it.name }}</div>
        <div style="width: 15%; display: flex; justify-content: center">
          <div class="tableEditIcon" (click)="onClickEditBank(it)">Edit</div>
          <div class="tableDeleteIcon" (click)="onClickDeleteBank(it)"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-table-paging [paging]="allBanks?.paging"></app-table-paging> -->
</div>
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="navCount === 1">
  <div class="table">
    <div class="header">
      <div style="width: 8%"></div>
      <div style="width: 75%">MODE OF PAYMENT</div>
      <div style="width: 15%; display: flex; justify-content: center">
        ACTION
      </div>
    </div>
    <div class="body">
      <div
        class="row"
        style="align-items: center"
        *ngFor="let it of allBanks?.content"
      >
        <div style="width: 8%">
          <img class="tableLogoDispplay" [src]="it.logo" />
        </div>
        <div style="width: 75%">{{ it.mop }}</div>
        <div style="width: 15%; display: flex; justify-content: center">
          <div class="tableEditIcon" (click)="onClickEditMOP(it)">Edit</div>
          <div class="tableDeleteIcon" (click)="onClickDeleteMOP(it)"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-table-paging [paging]="allModeOfPayments?.paging"></app-table-paging> -->
</div>
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="navCount === 2">
  <div class="table">
    <div class="header">
      <div style="width: 75%">TAX HEAD</div>
      <div style="width: 15%; display: flex; justify-content: center">
        ACTION
      </div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allTaxs?.content">
        <div style="width: 75%">{{ it.taxhead }}</div>
        <div style="width: 15%; display: flex; justify-content: center">
          <div class="tableEditIcon" (click)="onClickEditTax(it)">Edit</div>
          <div class="tableDeleteIcon" (click)="onClickDeleteTax(it)"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-table-paging [paging]="allTaxs?.paging"></app-table-paging> -->
</div>
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="navCount === 3">
  <div class="table">
    <div class="header">
      <div style="width: 30%">PARENT CATEGORY</div>
      <div style="width: 50%">DESCRIPTION</div>
      <div style="width: 20%; display: flex; justify-content: center">
        ACTION
      </div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allBanks?.content">
        <div style="width: 30%">{{ it.category }}</div>
        <div style="width: 50%">{{ it.desc }}</div>
        <div
          style="
            width: 20%;
            display: flex;
            justify-content: center;
            color: #2d4c86;
          "
        >
          <div class="tableEditIcon" (click)="onClickEditParentCategory(it)">
            Edit
          </div>
          <div
            class="tableDeleteIcon"
            (click)="onClickDeleteParentCategory(it)"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-table-paging [paging]="allBanks?.paging"></app-table-paging> -->
</div>
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="navCount === 4">
  <div class="table">
    <div class="header">
      <div style="width: 30%">PRODUCT CATEGORY</div>
      <div style="width: 50%">DESCRIPTION</div>
      <div style="width: 20%; display: flex; justify-content: center">
        ACTION
      </div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allBanks?.content">
        <div style="width: 30%">{{ it.category }}</div>
        <div style="width: 50%">{{ it.desc }}</div>
        <div
          style="
            width: 20%;
            display: flex;
            justify-content: center;
            color: #2d4c86;
          "
        >
          <div class="tableEditIcon" (click)="onClickEditProductCategory(it)">
            Edit
          </div>
          <div
            class="tableDeleteIcon"
            (click)="onClickDeleteProductCategory(it)"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-table-paging [paging]="allBanks?.paging"></app-table-paging> -->
</div>
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="navCount === 5">
  <div class="table">
    <div class="header">
      <div style="width: 30%">PRODUCT CATEGORY</div>
      <div style="width: 50%">DESCRIPTION</div>
      <div style="width: 20%; display: flex; justify-content: center">
        ACTION
      </div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allBanks?.content">
        <div style="width: 30%">{{ it.category }}</div>
        <div style="width: 50%">{{ it.desc }}</div>
        <div style="width: 20%; display: flex; justify-content: center">
          <div class="tableEditIcon" (click)="onClickEditExpenseCategory(it)">
            Edit
          </div>
          <div
            class="tableDeleteIcon"
            (click)="onClickDeleteExpenseCategory(it)"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-table-paging [paging]="allBanks?.paging"></app-table-paging> -->
</div>
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="navCount === 7">
  <div class="table">
    <div class="header">
      <div style="width: 40%">ALLOWANCES & INCENTIVES</div>
      <div style="width: 40%">DESCRIPTION</div>
      <div style="width: 20%; display: flex; justify-content: center">
        ACTION
      </div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allBanks?.content">
        <div style="width: 40%">{{ it.allowansesIncentives }}</div>
        <div style="width: 40%">{{ it.desc }}</div>
        <div style="width: 20%; display: flex; justify-content: center">
          <div
            class="tableEditIcon"
            (click)="onClickEditAllowancesIncentives(it)"
          >
            Edit
          </div>
          <div
            class="tableDeleteIcon"
            (click)="onClickDeleteAllowancesIncentives(it)"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-table-paging [paging]="allBanks?.paging"></app-table-paging> -->
</div>
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="navCount === 8">
  <div class="table">
    <div class="header">
      <div style="width: 40%">BRANCH</div>
      <div style="width: 40%">DELIVERY ADDRESS</div>
      <div style="width: 20%; display: flex; justify-content: center">
        ACTION
      </div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allBanks?.content">
        <div style="width: 40%">{{ it.branch }}</div>
        <div style="width: 40%">{{ it.address }}</div>
        <div style="width: 20%; display: flex; justify-content: center">
          <div class="tableEditIcon" (click)="onClickEditBranch(it)">Edit</div>
          <div class="tableDeleteIcon" (click)="onClickDeleteBranch(it)"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-table-paging [paging]="allBanks?.paging"></app-table-paging> -->
</div>
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="navCount === 9">
  <div class="table">
    <div class="header">
      <div style="width: 40%">VECHILE TYPE</div>
      <div style="width: 40%">DESCRIPTION</div>
      <div style="width: 15%; display: flex; justify-content: center">
        ACTION
      </div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allBanks?.content">
        <div style="width: 40%">{{ it.type }}</div>
        <div style="width: 40%">{{ it.desc }}</div>
        <div style="width: 15%; display: flex; justify-content: center">
          <div class="tableEditIcon" (click)="onClickEditVehicleType(it)">
            Edit
          </div>
          <div
            class="tableDeleteIcon"
            (click)="onClickDeleteVehicleType(it)"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-table-paging [paging]="allBanks?.paging"></app-table-paging> -->
</div>
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////// -->
<div class="denominationBody" *ngIf="navCount === 6">
  <div class="leftBody">Denominations</div>
  <div class="rightBody">
    <div class="adderContainer">
      <input
        class="defaultInput"
        style="width: 70%"
        placeholder="Enter Value"
      />
      <div class="addButton">ADD</div>
    </div>
    <div class="addedList">
      <div class="addedEach" *ngFor="let it of allDenomination">
        {{ it?.value }}
        <div class="addedEachDlt"></div>
      </div>
    </div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<div class="formBlankScreen1" *ngIf="popUp === 'addBank'"></div>
<div [ngClass]="popUp === 'addBank' ? 'drowerForm' : 'drowerForm_'">
  <div class="header">
    {{ isEdit ? "Edit" : "Add" }} Bank
    <div class="closeBtn" (click)="popUp = ''"></div>
  </div>
  <div class="body">
    <div class="formTitle">Bank Name</div>
    <input placeholder="Type here" />
    <div class="formTitle">Logo</div>
    <div class="logoFileUploader">
      <input type="file" id="picUpldInput" />
      <div class="uploadArea" (click)="onClickUploadInput()">
        <div>+ Add Logo Here</div>
        <div>1:1 aspect ratio</div>
        <div>Transparent PNG, 256 X 256 Pixel</div>
      </div>
      <img
        [src]="
          'https://cdn.pixabay.com/photo/2014/11/30/14/11/cat-551554_640.jpg'
        "
      />
    </div>
  </div>
  <div class="footer">
    <div class="cancelBtn" (click)="popUp = ''">CLOSE</div>
    <div class="saveBtn">{{ isEdit ? "UPDATE" : "ADD" }}</div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<div class="formBlankScreen1" *ngIf="popUp === 'addMOP'"></div>
<div [ngClass]="popUp === 'addMOP' ? 'drowerForm' : 'drowerForm_'">
  <div class="header">
    {{ isEdit ? "Edit" : "Add" }} MOP
    <div class="closeBtn" (click)="popUp = ''"></div>
  </div>
  <div class="body">
    <div class="formTitle">Linked Account</div>
    <select></select>
    <div class="formTitle">MOP Name</div>
    <input placeholder="Type here" />
    <div class="formTitle">Logo</div>
    <div class="logoFileUploader">
      <input type="file" id="picUpldInput" />
      <div class="uploadArea" (click)="onClickUploadInput()">
        <div>+ Add Logo Here</div>
        <div>1:1 aspect ratio</div>
        <div>Transparent PNG, 256 X 256 Pixel</div>
      </div>
      <img
        [src]="
          'https://cdn.pixabay.com/photo/2014/11/30/14/11/cat-551554_640.jpg'
        "
      />
    </div>
  </div>
  <div class="footer">
    <div class="cancelBtn" (click)="popUp = ''">CLOSE</div>
    <div class="saveBtn">{{ isEdit ? "UPDATE" : "ADD" }}</div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<div class="formBlankScreen1" *ngIf="popUp === 'addTax'"></div>
<div [ngClass]="popUp === 'addTax' ? 'drowerForm' : 'drowerForm_'">
  <div class="header">
    {{ isEdit ? "Edit" : "Add" }} Tax
    <div class="closeBtn" (click)="popUp = ''"></div>
  </div>
  <div class="body">
    <div class="formTitle">Tax Head</div>
    <input placeholder="Type here" />
    <div class="formTitle">GST %</div>
    <input placeholder="Type here" />
    <div class="formTitle">CESS %</div>
    <input placeholder="Type here" />
  </div>
  <div class="footer">
    <div class="cancelBtn" (click)="popUp = ''">CLOSE</div>
    <div class="saveBtn">{{ isEdit ? "UPDATE" : "ADD" }}</div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<div class="formBlankScreen1" *ngIf="popUp === 'addParentCategory'"></div>
<div [ngClass]="popUp === 'addParentCategory' ? 'drowerForm' : 'drowerForm_'">
  <div class="header">
    {{ isEdit ? "Edit" : "Add" }} Parent Category
    <div class="closeBtn" (click)="popUp = ''"></div>
  </div>
  <div class="body">
    <div class="formTitle">Parent Category Name*</div>
    <input placeholder="Type here" />
    <div class="formTitle">Description</div>
    <input placeholder="Type here" />
  </div>
  <div class="footer">
    <div class="cancelBtn" (click)="popUp = ''">CLOSE</div>
    <div class="saveBtn">{{ isEdit ? "UPDATE" : "ADD" }}</div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<div class="formBlankScreen1" *ngIf="popUp === 'addProductCategory'"></div>
<div [ngClass]="popUp === 'addProductCategory' ? 'drowerForm' : 'drowerForm_'">
  <div class="header">
    {{ isEdit ? "Edit" : "Add" }} Product Category
    <div class="closeBtn" (click)="popUp = ''"></div>
  </div>
  <div class="body">
    <div class="formTitle">Parent Category*</div>
    <select></select>
    <div class="formTitle">Product Category*</div>
    <input placeholder="Type here" />
    <div class="formTitle">Description</div>
    <input placeholder="Type here" />
    <div class="formTitle">
      Featuring Color
      <ColorPicker [onSelect]="onChangeProdectColor"></ColorPicker>
    </div>
    <div class="formTitle">
      Featuring in POS
      <MyButtons [type]="'switch'" [onSelect]=""></MyButtons>
    </div>
  </div>
  <div class="footer">
    <div class="cancelBtn" (click)="popUp = ''">CLOSE</div>
    <div class="saveBtn">{{ isEdit ? "UPDATE" : "ADD" }}</div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<div class="formBlankScreen1" *ngIf="popUp === 'addExpenseCategory'"></div>
<div [ngClass]="popUp === 'addExpenseCategory' ? 'drowerForm' : 'drowerForm_'">
  <div class="header">
    {{ isEdit ? "Edit" : "Add" }} Expense Category
    <div class="closeBtn" (click)="popUp = ''"></div>
  </div>
  <div class="body">
    <div class="formTitle">Expense Category*</div>
    <input placeholder="Type here" />
    <div class="formTitle">Description</div>
    <input placeholder="Type here" />
  </div>
  <div class="footer">
    <div class="cancelBtn" (click)="popUp = ''">CLOSE</div>
    <div class="saveBtn">{{ isEdit ? "UPDATE" : "ADD" }}</div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<div class="formBlankScreen1" *ngIf="popUp === 'addAllowancesIncentives'"></div>
<div
  [ngClass]="popUp === 'addAllowancesIncentives' ? 'drowerForm' : 'drowerForm_'"
>
  <div class="header">
    Allowances & Incentives
    <div class="closeBtn" (click)="popUp = ''"></div>
  </div>
  <div class="body">
    <div class="formTitle">Allowances & Incentives</div>
    <input placeholder="Type here" />
    <div class="formTitle">Description</div>
    <input placeholder="Type here" />
  </div>
  <div class="footer">
    <div class="cancelBtn" (click)="popUp = ''">CLOSE</div>
    <div class="saveBtn">{{ isEdit ? "UPDATE" : "ADD" }}</div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<div class="formBlankScreen1" *ngIf="popUp === 'addBranch'"></div>
<div [ngClass]="popUp === 'addBranch' ? 'drowerForm' : 'drowerForm_'">
  <div class="header">
    {{ isEdit ? "Edit" : "Add" }} Branchs
    <div class="closeBtn" (click)="popUp = ''"></div>
  </div>
  <div class="body">
    <div class="formTitle">Branch Name</div>
    <input placeholder="Branch Name" />
    <div class="formTitle">Delivery Address</div>
    <textarea placeholder="Address..."></textarea>
  </div>
  <div class="footer">
    <div class="cancelBtn" (click)="popUp = ''">CLOSE</div>
    <div class="saveBtn">{{ isEdit ? "UPDATE" : "ADD" }}</div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<div class="formBlankScreen1" *ngIf="popUp === 'addVehicleType'"></div>
<div [ngClass]="popUp === 'addVehicleType' ? 'drowerForm' : 'drowerForm_'">
  <div class="header">
    {{ isEdit ? "Edit" : "Add" }} Vehicle Type
    <div class="closeBtn" (click)="popUp = ''"></div>
  </div>
  <div class="body">
    <div class="formTitle">Vehicle Type</div>
    <input placeholder="Vehicle Type" />
    <div class="formTitle">Delivery Address</div>
    <textarea placeholder="Address..."></textarea>
  </div>
  <div class="footer">
    <div class="cancelBtn" (click)="popUp = ''">CLOSE</div>
    <div class="saveBtn">{{ isEdit ? "UPDATE" : "ADD" }}</div>
  </div>
</div>
