<app-nav-page
  *ngIf="page === ''"
  title="Operations"
  [items]="subTitles"
  [onClick]="setPageIn"
></app-nav-page>
<div class="body" *ngIf="page !== ''">
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////////// EOD /////////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="page === 'eod'" class="header">
    <div class="titile" (click)="page = ''">Operations > EOD</div>
    <div class="navRow">
      <div class="navBar">
        <div
          [ngClass]="navCount === 0 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 0"
        >
          Shift End
          <div
            [ngClass]="navCount === 0 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 1 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 1"
        >
          Day End
          <div
            [ngClass]="navCount === 1 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
      </div>
      <div *ngIf="navCount === 1" class="grrenButton">+ Start Day</div>
    </div>
  </div>
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////// TT Recipients ///////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="page === 'ttRecipients'" class="header">
    <div class="titile" (click)="page = ''">Operations > TT Recipients</div>
    <div class="navRow">
      <div class="navBar">
        <div
          [ngClass]="navCount === 0 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 0"
        >
          Invoice
          <div
            [ngClass]="navCount === 0 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 1 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 1"
        >
          Delivery Checklist
          <div
            [ngClass]="navCount === 1 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 2 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 2"
        >
          Delivery
          <div
            [ngClass]="navCount === 2 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
      </div>
      <div class="options" *ngIf="navCount === 0">
        <div class="grrenButton" (click)="popup = { path: 'manualInvoice' }">
          + Create Manual Invoice
        </div>
      </div>
    </div>
  </div>
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////// Payment Mode ////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="page === 'paymentMode'" class="header">
    <div
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <div class="titile" (click)="page = ''">Operations > Payment Mode</div>
      <div class="options">
        <input class="navCalender" type="date" />
        <div class="grrenButton">Fetch Transaction</div>
      </div>
    </div>
  </div>
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////// Controls //////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="page === 'controls'" class="header">
    <div class="titile" (click)="page = ''">Operations > Controls</div>
    <div class="navRow">
      <div class="navBar">
        <div
          [ngClass]="navCount === 0 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 0"
        >
          Pump Control
          <div
            [ngClass]="navCount === 0 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 1 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 1"
        >
          Tank Control
          <div
            [ngClass]="navCount === 1 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
      </div>
      <div
        class="grrenButton"
        (click)="
          navCount === 0
            ? (popup = { path: 'pumpControl' })
            : (popup = { path: 'tankControl' })
        "
      >
        {{ navCount === 0 ? "Pump Control" : "Tank Control" }}
      </div>
    </div>
  </div>
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <!-- ///////////////////////////////// Price Change ////////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="page === 'priceChange'" class="header">
    <div
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <div class="titile" (click)="page = ''">Operations > Price Change</div>
      <div class="grrenButton" (click)="popup = { path: 'chnageProdectPrice' }">
        Change Prodect Price
      </div>
    </div>
  </div>
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <!-- ////////////////////////////////// Tank Density ///////////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="page === 'tankDensity'" class="header">
    <div class="titile" (click)="page = ''">Operations > Tank Density</div>
  </div>
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <!-- //////////////////////////// Monolith Configuration ///////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="page === 'monolithConfiguration'" class="header">
    <div class="titile" (click)="page = ''">
      Operations > Monolith Configuration
    </div>
  </div>
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <!-- //////////////////////////// Customer Configuration ///////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="page === 'customerConfiguration'" class="header">
    <div class="titile" (click)="page = ''">
      Operations > Customer Configuration
    </div>
    <div class="navRow">
      <div class="navBar">
        <div
          [ngClass]="navCount === 0 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 0"
        >
          Customers
          <div
            [ngClass]="navCount === 0 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
        <div
          [ngClass]="navCount === 1 ? 'eachButton_' : 'eachButton'"
          (click)="navCount = 1"
        >
          Customers Vehicle
          <div
            [ngClass]="navCount === 1 ? 'buttonBottom_' : 'buttonBottom'"
          ></div>
        </div>
      </div>
      <div
        class="grrenButton"
        (click)="
          navCount === 0
            ? (popup = { path: 'addCustomer' })
            : (popup = { path: 'addVehicle' })
        "
      >
        {{ navCount === 0 ? "Add Customer" : "Add Vehicle" }}
      </div>
    </div>
  </div>
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <!-- //////////////////////////// SUPPLIER Configuration ///////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="page === 'supplierConfiguration'" class="header">
    <div class="titile" (click)="page = ''">
      Operations > Supplier Configuration
    </div>
    <div class="navRow">
      <div class="navBar">
        <div class="eachButton_">
          Suppliers
          <div class="buttonBottom_"></div>
        </div>
      </div>
      <div style="display: flex">
        <input placeholder="Search a supplier" class="defaultInput" />
        <div class="downloadButton"></div>
        <div class="grrenButton" (click)="popup = { path: 'addSupplier' }">
          Add Supplier
        </div>
      </div>
    </div>
  </div>
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <!-- //////////////////////////// SUPPLIER Configuration ///////////////////////////// -->
  <!-- ///////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="page === 'cStoreTransation'" class="header">
    <div class="titile" (click)="page = ''">
      Operations > C-Store Transactions
    </div>
    <div class="navRow">
      <div class="navBar">
        <div class="eachButton_">
          Invoice List
          <div class="buttonBottom_"></div>
        </div>
      </div>
      <div style="display: flex">
        <input placeholder="Search an invoice" class="defaultInput" />
        <div class="downloadButton"></div>
      </div>
    </div>
  </div>
  <!-- /////////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////////// -->
  <app-local-account
    *ngIf="page === 'localAccount'"
    [onChangePage]="onChangePage"
  ></app-local-account>
  <app-discount-configurations
    *ngIf="page === 'discountConfiguration'"
    [onChangePage]="onChangePage"
  ></app-discount-configurations>
  <app-home-operations-body
    [page]="page"
    [navCount]="navCount"
    [data]="data"
    [setPopup]="setPopup"
  ></app-home-operations-body>
</div>
<app-home-operations-popups
  [popup]="popup"
  [closePopUp]="closePopUp"
></app-home-operations-popups>
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////// PAGE LOADER /////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<div class="isLoading" *ngIf="isLoading"></div>
