.body {
  background-color: white;
  height: calc(100vh - 3.5vw);
}
/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////// HEADER /////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////// */
.bodyHeader {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 0.03vw solid #a0b6d2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.bodyHeader .titile {
  padding: 0.8vw 1.2vw;
  font-weight: 500;
  font-size: 1.5vw;
  color: #415365;
  cursor: pointer;
}
.bodyHeader .navRow {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 1vw;
}
.bodyHeader .navBar {
  display: flex;
  color: #888888;
  font-size: 1vw;
  text-align: center;
  margin-left: 0.6vw;
  margin-top: 0.5vw;
}
.bodyHeader .options {
  display: flex;
  color: #888888;
  font-size: 1vw;
  text-align: center;
  margin-left: 0.6vw;
  /* margin-top: 0.5vw; */
}
.bodyHeader .eachButton,
.bodyHeader .eachButton_ {
  cursor: pointer;
  text-align: center;
  margin-right: 1.5vw;
}
.bodyHeader .eachButton_ {
  font-weight: 500;
  color: #00649e;
}
.bodyHeader .buttonBottom,
.bodyHeader .buttonBottom_ {
  height: 0.25vw;
  min-width: 5vw;
  margin-top: 0.6vw;
  border-top-left-radius: 0.2vw;
  border-top-right-radius: 0.2vw;
}
.bodyHeader .buttonBottom_ {
  background-color: #069bf2;
}
/* .header .submit {
  margin: 0.2vw;
  font-size: 0.7vw;
  background-color: #0abb59;
  border-radius: 0.2vw;
  padding: 0.25vw 0.4vw;
  color: white;
  font-weight: bold;
  cursor: pointer;
} */

/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */
.tableBody {
  height: calc(100vh - 16vw);
}
.tableBody .table {
  font-size: 1vw;
  padding: 1vw;
  height: 100%;
}
.tableBody .header {
  color: #3f6ca5;
  display: flex;
  justify-content: space-between;
  padding: 0.5vw 1vw;
  border-bottom: 0.08vw solid #dddfe1;
}
.tableBody .body {
  height: calc(96.53%);
  overflow: auto;
}
.tableBody .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw 1vw;
  cursor: pointer;
}
.tableBody .row:nth-child(even) {
  background-color: #f3f6f9;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */
.grrenButton {
  background-color: #0abb59;
  color: white;
  font-weight: 500;
  font-size: 1vw;
  border-radius: 0.3vw;
  padding: 0.3vw 0.6vw;
  cursor: pointer;
  margin: 0 1vw;
}
.blueButton {
  background-color: var(--myColor);
  color: white;
  font-weight: 400;
  font-size: 1vw;
  border-radius: 0.3vw;
  padding: 0.3vw 1vw;
  cursor: pointer;
  margin: 0.3vw;
}
.lightBlueButton {
  background-color: #a0b6d2;
  color: var(--myColor);
  font-weight: 400;
  font-size: 1vw;
  border-radius: 0.3vw;
  padding: 0.3vw 1vw;
  cursor: pointer;
  margin: 0.3vw;
  border: 0.05vw solid var(--myColor);
}
/* ////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */
.downloadButton {
  min-width: 2vw;
  min-height: 2vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../assets/icDownload.svg);
  margin: 0 1vw;
  cursor: pointer;
}
