.body {
  background-color: white;
  height: calc(100vh - 3.5vw);
}
/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////// HEADER /////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////// */
.reportHeader {
  border-bottom: 0.03vw solid #a0b6d2;
}
.aA {
  display: flex;
  justify-content: space-between;
  height: 3.5vw;
  padding: 0 0.8vw;
}
.aAa1 {
  color: #021c3e;
  font-size: 1.3vw;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.aAa1a {
  width: 1vw;
  height: 1vw;
  background-image: url(../../assets/ic_back.svg);
  margin-left: 0.5vw;
  margin-right: 1vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.topBar_bAbA {
  font-size: 0.8vw;
  color: #707070;
  margin: 0.2vw;
}

.topBar_bAbC {
  margin: 0.2vw;
  font-size: 0.7vw;
  background-color: #0abb59;
  border-radius: 0.2vw;
  padding: 0.25vw 0.4vw;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.aAc {
  display: flex;
  align-items: center;
}
.navBar {
  display: flex;
  color: #888888;
  font-size: 1vw;
  text-align: center;
  margin-left: 0.6vw;
}
.eachButton {
  cursor: pointer;
  text-align: center;
}
.buttonBottom {
  height: 0.25vw;
  min-width: 7vw;
  margin-top: 0.6vw;
  border-top-left-radius: 0.2vw;
  border-top-right-radius: 0.2vw;
}
.contentBody {
  height: calc(100vh - 10vw);
  overflow: auto;
}
.blueContainer1 {
  font-weight: 500;
  background-color: #069bf2;
}
