<div class="pageTitle" *ngIf="page === 'addPayRun'">
  <div class="arrowBack" (click)="page = 'payRun'"></div>
  PAYRUN
</div>
<div *ngIf="page === 'staffMaster'">
  <div class="pageTitle">STAFF MASTER</div>
  <div class="tableFilterHeader">
    <div class="navBar">
      <div class="navBarEach_" (click)="onclickAllStaffMaster()">
        Staff Master
        <div class="navBarLine_"></div>
      </div>
      <div class="navBarEach" (click)="onclickAllSalaryMaster()">
        Salary Master
        <div class="navBarLine"></div>
      </div>
      <div class="navBarEach" (click)="onclickAllPayrun()">
        Payrun
        <div class="navBarLine"></div>
      </div>
    </div>
    <input class="input" placeholder="Search a product" />
    <div class="categoryTitle">SHOWING:</div>
    <select class="input">
      <option hidden>Select Category</option>
    </select>
    <div class="addButton" (click)="onClickAddEmloyee()">+ New Employee</div>
  </div>
</div>
<div *ngIf="page === 'salaryMaster'">
  <div class="pageTitle">STAFF MASTER</div>
  <div class="tableFilterHeader">
    <div class="navBar">
      <div class="navBarEach" (click)="onclickAllStaffMaster()">
        Staff Master
        <div class="navBarLine"></div>
      </div>
      <div class="navBarEach_" (click)="onclickAllSalaryMaster()">
        Salary Master
        <div class="navBarLine_"></div>
      </div>
      <div class="navBarEach" (click)="onclickAllPayrun()">
        Payrun
        <div class="navBarLine"></div>
      </div>
    </div>
    <input class="input" placeholder="Search a product" />
    <div class="categoryTitle">SHOWING:</div>
    <select class="input">
      <option hidden>Select Category</option>
    </select>
  </div>
</div>
<div *ngIf="page === 'payRun'">
  <div class="pageTitle">STAFF MASTER</div>
  <div class="tableFilterHeader">
    <div class="navBar">
      <div class="navBarEach" (click)="onclickAllStaffMaster()">
        Staff Master
        <div class="navBarLine"></div>
      </div>
      <div class="navBarEach" (click)="onclickAllSalaryMaster()">
        Salary Master
        <div class="navBarLine"></div>
      </div>
      <div class="navBarEach_" (click)="onclickAllPayrun()">
        Payrun
        <div class="navBarLine_"></div>
      </div>
    </div>
    <input class="input" placeholder="Search a product" />
    <div class="categoryTitle">SHOWING:</div>
    <select class="input">
      <option hidden>Select Category</option>
    </select>
    <div class="addButton" (click)="onClickAddPayRun()">+ Pay Run</div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'staffMaster'">
  <div class="table">
    <div class="header">
      <div></div>
      <div style="width: 5%"></div>
      <div style="width: 20%">STAF NAME</div>
      <div style="width: 12%">EMPLOYEE#</div>
      <div style="width: 12%">JOINING DATE</div>
      <div style="width: 8%">PHONE NUMBER</div>
      <div style="width: 15%">EMAIL</div>
      <div style="width: 10%">SYSTEM USER</div>
      <div style="width: 8%">STATUS</div>
      <div></div>
    </div>
    <div class="body">
      <div
        class="row"
        *ngFor="let it of allStaff?.content"
        (click)="onSelectAnyStaf(it)"
      >
        <div></div>
        <div class="content" style="width: 5%">
          <img
            [src]="it?.image"
            style="
              object-fit: cover;
              border-radius: 50%;
              width: 2vw;
              height: 2vw;
              padding-left: 1vw;
            "
          />
        </div>
        <div class="content" style="width: 20%">
          <div style="color: #2d4c86">{{ it?.name }}</div>
          <div style="font-size: 0.8vw; color: gray">{{ it?.type }}</div>
        </div>
        <div class="content" style="width: 12%; color: #2d4c86">
          {{ it?.empId }}
        </div>
        <div class="content" style="width: 12%">{{ it?.joiningDate }}</div>
        <div class="content" style="width: 8%">{{ it?.phone }}</div>
        <div class="content" style="width: 15%; color: #2d4c86">
          {{ it?.email }}
        </div>
        <div class="content" style="width: 10%; color: #2d4c86; display: flex">
          <div
            class="dotRedGreen"
            [ngStyle]="{ background: !it?.isSystemUser ? 'red' : '' }"
          ></div>
          {{ it?.isSystemUser ? "Yes" : "No" }}
        </div>
        <div class="content" style="width: 8%; display: flex">
          <div
            class="dotRedGreen"
            [ngStyle]="{ background: it?.status === 'ACTIVE' ? '' : 'red' }"
          ></div>
          {{ it?.status }}
        </div>
        <div></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allStaff?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'salaryMaster'">
  <div class="table">
    <div class="header">
      <div></div>
      <div style="width: 6%"></div>
      <div style="width: 25%">STAF NAME</div>
      <div style="width: 12%">EMPLOYEE#</div>
      <div style="width: 12%">JOINING DATE</div>
      <div style="width: 12%">SALARY</div>
      <div style="width: 15%">ALLOWANCE</div>
      <div style="width: 10%">ACTION</div>
      <div></div>
    </div>
    <div class="body">
      <div
        class="row"
        *ngFor="let it of allStaff?.content"
        (click)="popupSelected = 'salaryDetails'"
      >
        <div></div>
        <div class="content" style="width: 6%">
          <img
            [src]="it?.image"
            style="
              object-fit: cover;
              border-radius: 50%;
              width: 2vw;
              height: 2vw;
              padding-left: 1vw;
            "
          />
        </div>
        <div class="content" style="width: 25%">
          <div style="color: #2d4c86">{{ it?.name }}</div>
          <div style="font-size: 0.8vw; color: gray">{{ it?.type }}</div>
        </div>
        <div class="content" style="width: 12%; color: #2d4c86">
          {{ it?.empId }}
        </div>
        <div class="content" style="width: 12%">{{ it?.joiningDate }}</div>
        <div class="content" style="width: 12%">{{ it?.phone }}</div>
        <div class="content" style="width: 15%">{{ it?.allowence }}</div>
        <div class="content" style="width: 10%; color: #2d4c86">Edit</div>
        <div></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allStaff?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'payRun'">
  <div class="table">
    <div class="header">
      <div></div>
      <div style="width: 4%"></div>
      <div style="width: 25%">STAF NAME</div>
      <div style="width: 12%">EMPLOYEE#</div>
      <div style="width: 12%">JOINING DATE</div>
      <div style="width: 10%">PHONE NUMBER</div>
      <div style="width: 15%">EMAIL</div>
      <div style="width: 10%; text-align: center">ADVANCE</div>
      <div></div>
    </div>
    <div class="body">
      <div
        class="row"
        *ngFor="let it of allStaff?.content"
        (click)="popupSelected = 'payRunAdvance'"
      >
        <div></div>
        <div class="content" style="width: 4%">
          <img
            [src]="it?.image"
            style="
              object-fit: cover;
              border-radius: 50%;
              width: 2vw;
              height: 2vw;
              padding-left: 1vw;
            "
          />
        </div>
        <div class="content" style="width: 25%">
          <div style="color: #2d4c86">{{ it?.name }}</div>
          <div style="font-size: 0.8vw; color: gray">{{ it?.type }}</div>
        </div>
        <div class="content" style="width: 12%; color: #2d4c86">
          {{ it?.empId }}
        </div>
        <div class="content" style="width: 12%">{{ it?.joiningDate }}</div>
        <div class="content" style="width: 10%">{{ it?.phone }}</div>
        <div class="content" style="width: 15%; color: #2d4c86">
          {{ it?.email }}
        </div>
        <div
          class="content"
          style="width: 10%; color: #2d4c86; text-align: center"
        >
          {{ it?.advance }}
        </div>
        <div></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allStaff?.paging"></app-table-paging>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<div class="formBlankScreen1" *ngIf="popupSelected === 'employeeForm'"></div>
<div
  [ngClass]="
    popupSelected === 'employeeForm' ? 'employeeForm' : 'employeeForm_'
  "
>
  <div class="header">
    {{ isEdit ? "EDIT" : "NEW" }} EMPLOYEE
    <div class="closeBtn" (click)="popupSelected = ''"></div>
  </div>
  <div class="body">
    <div class="leftBody">
      <div class="profileContainer">
        <div
          class="profile"
          (click)="imgLoader.click()"
          [ngStyle]="{ backgroundImage: getImageLocalUrl() }"
        ></div>
        <input
          #imgLoader
          style="display: none"
          type="file"
          accept="image/*"
          (change)="uploadImageSelected($event)"
        />
      </div>
      <div class="rightTitle_">Basic Information</div>
      <div class="rightTitle">System Information</div>
      <div class="rightTitle">Credentials</div>
    </div>
    <div class="rightBody">
      <div class="leftTitle">BASIC INFORMATION</div>
      <div class="formSubBody">
        <div>User Name*</div>
        <input class="input" placeholder="Enter name" />
        <div>Mobile Number *</div>
        <input class="input" placeholder="Enter mobile number" />
        <div>Email Address</div>
        <input class="input" placeholder="Enter email address" />
        <div>Full Address</div>
        <textarea class="input" placeholder="Enter address"></textarea>
      </div>
      <div class="leftTitle">SYSTEM INFORMATION</div>
      <div class="formSubBody">
        <div>Designation</div>
        <input class="input" placeholder="Enter designation" />
        <div>Role</div>
        <select class="input">
          <option hidden>Select role</option>
        </select>
        <div>RFID Tag Number</div>
        <input class="input" placeholder="0101xxxx01" />
      </div>
      <div class="leftTitle">
        CREDENTIALS
        <div style="display: flex; font-size: 0.7vw; align-items: center">
          System User
          <div
            (click)="isSystemUser = !isSystemUser"
            [ngClass]="isSystemUser ? 'switchButton_' : 'switchButton'"
          ></div>
        </div>
      </div>
      <div class="formSubBody">
        <div style="display: flex; justify-content: space-between">
          <div style="width: 48%">User ID</div>
          <div style="width: 48%">Password</div>
        </div>
        <div style="display: flex; justify-content: space-between">
          <input style="width: 48%" class="input" placeholder="User Id" />
          <input
            style="width: 48%"
            class="input"
            type="password"
            placeholder="*****"
          />
        </div>
        <div>Status</div>
        <select class="input">
          <option>Active</option>
        </select>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="errorMsg" *ngIf="isEdit">Delete</div>
    <div *ngIf="!isEdit"></div>
    <div class="btns">
      <div class="cancelBtn" (click)="popupSelected = ''">CANCEL</div>
      <div class="saveBtn" (click)="onClickSaveEmployeeForm()">SAVE</div>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<div class="formLayout" *ngIf="page === 'addPayRun'">
  <div class="formHeaderBox">
    <div style="width: 14%">
      <div>Month*</div>
      <select class="defaultInput" style="width: 100%">
        <option>Select Branch</option>
      </select>
    </div>
    <div style="width: 8%">
      <div>&nbsp;</div>
      <div class="blueButton">LOAD ALL</div>
    </div>
    <div style="width: 14%">
      <div>Date</div>
      <input
        class="defaultInput"
        placeholder="Search for a supplier"
        style="width: 100%"
        type="date"
      />
    </div>
    <div style="width: 14%">
      <div>Paid From Account*</div>
      <select class="defaultInput" style="width: 100%">
        <option>Select Account</option>
      </select>
    </div>
    <div style="width: 14%">
      <div>Payment Method*</div>
      <select class="defaultInput" style="width: 100%">
        <option>Select Account</option>
      </select>
    </div>
    <div style="width: 32%">
      <div>Reference</div>
      <input
        class="defaultInput"
        style="width: 100%"
        placeholder="Enter transaction referance here"
      />
    </div>
  </div>
  <div class="formContentBox">
    <div class="leftContent">
      <div class="leftContentTitle">Employee list (9)</div>
      <div
        [ngClass]="k === 0 ? 'leftContentEach_' : 'leftContentEach'"
        *ngFor="let it of allPayrunEmploye; let k = index"
      >
        {{ it?.name }}
        <div class="paidStatus">{{ it?.status }}</div>
      </div>
    </div>
    <div class="rightContent">
      <div class="empDetailsContainer">
        <div class="header">
          <div class="headerEach" style="width: 80%">Employee name</div>
          <div class="headerEach" style="width: 80%">Designation</div>
          <div class="headerEach">Regular daily pay</div>
          <div class="headerEach">Days/Month</div>
          <div class="headerEach">Basic salary</div>
          <div class="headerEach">Drawings</div>
        </div>
        <div class="row">
          <div class="rowEach" style="width: 80%">Afras Muhammed</div>
          <div class="rowEach" style="width: 80%">Finance assistant</div>
          <div class="rowEach">150.00</div>
          <div class="rowEach">30</div>
          <div class="rowEach">4,500.00</div>
          <div class="rowEach">500.00</div>
        </div>
      </div>
      <div class="itemsTable">
        <div class="header">
          <div style="width: 5%"></div>
          <div style="width: 40%">&nbsp;Item</div>
          <div style="width: 16%">&nbsp;Qty*</div>
          <div style="width: 20%">&nbsp;Unit Wage*</div>
          <div style="width: 20%">&nbsp;Total</div>
        </div>
        <div class="row" *ngFor="let it of addPayrunForm?.items; let k = index">
          <div
            class="dltBtn"
            style="width: 5%"
            (click)="onClickPayLoadDltItem(k)"
          ></div>
          <select
            style="width: 40%"
            [ngModel]="null"
            (ngModelChange)="onChangeItemInPayloadForm($event)"
          >
            <option value="null">Select item</option>
            <option>Reguler working days</option>
            <option>Partial working days</option>
            <option>Overtime</option>
            <option>Accommodation allowance</option>
          </select>
          <input style="width: 16%" />
          <input style="width: 20%" />
          <div style="width: 20%">3,300.00</div>
        </div>
      </div>
      <div class="totalRow">
        <div class="totalName">Subtotal</div>
        <div class="totalValue">4,175.00</div>
      </div>
      <div class="totalRow">
        <div class="totalName">Tax Deduction (TDS)</div>
        <input class="totalValue defaultInput" />
      </div>
      <div class="totalRow">
        <div class="totalName">Employer contribution (PF)</div>
        <input class="totalValue defaultInput" />
      </div>
      <div class="totalRow">
        <div class="totalName">Payroll advance</div>
        <input class="totalValue defaultInput" />
      </div>
      <div class="totalRow">
        <div class="totalName">Net payable</div>
        <div class="totalValue">3,675.00</div>
      </div>
      <br />
      <div class="totalRow">
        <div class="blueButton">SAVE & PRINT</div>
        <div class="blueButton">CLOSE</div>
      </div>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->

<div class="popup1" *ngIf="popupSelected === 'salaryDetails'">
  <div class="popup1Body">
    <div class="popup1Header">
      Salary Details
      <div class="popup1Close" (click)="popupSelected = ''"></div>
    </div>
    <div class="popup1Desc">Update salary details</div>
    <div class="popup1ContentBody">
      <div class="popup1ContentRow">
        <div class="popup1InputLabel">Staff Name</div>
        <div style="display: flex; margin: 0; width: 112%">
          <div class="popup1InputLabel">&nbsp;&nbsp;Staff ID</div>
          <div class="popup1InputLabel">Role</div>
        </div>
      </div>
      <div class="popup1ContentRow">
        <input class="popup1Input" placeholder="Enter name" />
        <div style="display: flex; margin: 0; width: 112%">
          <input class="popup1Input" />
          <input class="popup1Input" />
        </div>
      </div>
      <div class="popup1ContentRow">
        <div style="display: flex; margin: 0; width: 112%">
          <div class="popup1InputLabel">Date of Join</div>
          <div class="popup1InputLabel">Date of Birth</div>
        </div>
        <div style="display: flex; margin: 0; width: 112%">
          <div class="popup1InputLabel">Salary</div>
          <div class="popup1InputLabel">Alavances</div>
        </div>
      </div>
      <div class="popup1ContentRow">
        <div style="display: flex; margin: 0; width: 112%">
          <input class="popup1Input" type="date" />
          <input class="popup1Input" type="date" />
        </div>
        <div style="display: flex; margin: 0; width: 112%">
          <input class="popup1Input" placeholder="0.00" type="number" />
          <input class="popup1Input" placeholder="0.00" type="number" />
        </div>
      </div>
    </div>
    <div class="popup1Footer">
      <div class="popup1errorMsg">Errro on page</div>
      <div style="display: flex">
        <div class="popup1CancelBtn" (click)="popupSelected = ''">CANCEL</div>
        <div class="popup1SaveBtn" (click)="onClickSaveAdvancePayroll()">
          SAVE
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->

<div class="popup1" *ngIf="popupSelected === 'payRunAdvance'">
  <div class="popup1Body">
    <div class="popup1Header">
      Payroll Advance
      <div class="popup1Close" (click)="popupSelected = ''"></div>
    </div>
    <div class="popup1Desc">Update cheque status</div>
    <div class="popup1ContentBody">
      <div class="popup1ContentRow">
        <div class="popup1InputLabel">Select the employee*</div>
        <div class="popup1InputLabel">
          Select a cash or bank account to send money*
        </div>
      </div>
      <div class="popup1ContentRow">
        <select class="popup1Input">
          <option>Select account type</option>
        </select>
        <select class="popup1Input"></select>
      </div>
      <div class="popup1ContentRow">
        <div style="display: flex; margin: 0; width: 112%">
          <div class="popup1InputLabel">Amount paying*</div>
          <div class="popup1InputLabel">Mode of payment*</div>
        </div>
        <div class="popup1InputLabel">Description</div>
      </div>
      <div class="popup1ContentRow">
        <div style="display: flex; margin: 0; width: 112%">
          <input class="popup1Input" placeholder="0.00" type="number" />
          <select class="popup1Input">
            <option>Select payment mode</option>
          </select>
        </div>
        <input
          class="popup1Input"
          placeholder="Enter the description for this transaction"
        />
      </div>
      <div class="popup1ContentRow">
        <div class="popup1InputLabel">Reference</div>
        <div class="popup1InputLabel"></div>
      </div>
      <div class="popup1ContentRow">
        <input class="popup1Input" placeholder="Enter payment reference" />
        <div class="popup1InputLabel"></div>
      </div>
    </div>
    <div class="popup1Footer">
      <div class="popup1errorMsg">Errro on page</div>
      <div style="display: flex">
        <div class="popup1CancelBtn" (click)="popupSelected = ''">CANCEL</div>
        <div class="popup1SaveBtn" (click)="onClickSaveAdvancePayroll()">
          SAVE
        </div>
      </div>
    </div>
  </div>
</div>
