<div *ngIf="page === 'staffMaster'">
  <div class="pageTitle">STAFF MASTER</div>
  <div class="tableFilterHeader">
    <div class="navBar">
      <div class="navBarEach_" (click)="onclickAllStaffMaster()">
        Staff Master
        <div class="navBarLine_"></div>
      </div>
      <div class="navBarEach" (click)="onclickAllSalaryMaster()">
        Salary Master
        <div class="navBarLine"></div>
      </div>
      <div class="navBarEach" (click)="onclickAllPayrun()">
        Payrun
        <div class="navBarLine"></div>
      </div>
    </div>
    <input class="input" placeholder="Search a product" />
    <div class="categoryTitle">SHOWING:</div>
    <select class="input">
      <option hidden>Select Category</option>
    </select>
    <div class="addButton" (click)="onClickAddEmloyee()">+ New Employee</div>
  </div>
</div>
<div *ngIf="page === 'salaryMaster'">
  <div class="pageTitle">STAFF MASTER</div>
  <div class="tableFilterHeader">
    <div class="navBar">
      <div class="navBarEach" (click)="onclickAllStaffMaster()">
        Staff Master
        <div class="navBarLine"></div>
      </div>
      <div class="navBarEach_" (click)="onclickAllSalaryMaster()">
        Salary Master
        <div class="navBarLine_"></div>
      </div>
      <div class="navBarEach" (click)="onclickAllPayrun()">
        Payrun
        <div class="navBarLine"></div>
      </div>
    </div>
    <input class="input" placeholder="Search a product" />
    <div class="categoryTitle">SHOWING:</div>
    <select class="input">
      <option hidden>Select Category</option>
    </select>
  </div>
</div>
<div *ngIf="page === 'payRun'">
  <div class="pageTitle">STAFF MASTER</div>
  <div class="tableFilterHeader">
    <div class="navBar">
      <div class="navBarEach" (click)="onclickAllStaffMaster()">
        Staff Master
        <div class="navBarLine"></div>
      </div>
      <div class="navBarEach" (click)="onclickAllSalaryMaster()">
        Salary Master
        <div class="navBarLine"></div>
      </div>
      <div class="navBarEach_" (click)="onclickAllPayrun()">
        Payrun
        <div class="navBarLine_"></div>
      </div>
    </div>
    <input class="input" placeholder="Search a product" />
    <div class="categoryTitle">SHOWING:</div>
    <select class="input">
      <option hidden>Select Category</option>
    </select>
    <div class="addButton">+ Pay Run</div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'staffMaster'">
  <div class="table">
    <div class="header">
      <div></div>
      <div style="width: 5%"></div>
      <div style="width: 20%">STAF NAME</div>
      <div style="width: 12%">EMPLOYEE#</div>
      <div style="width: 12%">JOINING DATE</div>
      <div style="width: 8%">PHONE NUMBER</div>
      <div style="width: 12%">EMAIL</div>
      <div style="width: 10%">SYSTEM USER</div>
      <div style="width: 8%">STATUS</div>
      <div></div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allStaff?.content">
        <div></div>
        <div class="content" style="width: 5%">
          <img
            [src]="it?.image"
            style="
              object-fit: cover;
              border-radius: 50%;
              width: 2vw;
              height: 2vw;
              padding-left: 1vw;
            "
          />
        </div>
        <div class="content" style="width: 20%">
          {{ it?.name }}
          <div style="font-size: 0.8vw; color: gray">{{ it?.type }}</div>
        </div>
        <div class="content" style="width: 12%">{{ it?.empId }}</div>
        <div class="content" style="width: 12%">{{ it?.joiningDate }}</div>
        <div class="content" style="width: 8%">{{ it?.phone }}</div>
        <div class="content" style="width: 12%">{{ it?.email }}</div>
        <div class="content" style="width: 10%">{{ it?.isSystemUser }}</div>
        <div class="content" style="width: 8%">{{ it?.status }}</div>
        <div></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allStaff?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'salaryMaster'">
  <div class="table">
    <div class="header">
      <div></div>
      <div style="width: 6%"></div>
      <div style="width: 20%">STAF NAME</div>
      <div style="width: 12%">EMPLOYEE#</div>
      <div style="width: 12%">JOINING DATE</div>
      <div style="width: 12%">SALARY</div>
      <div style="width: 12%">ALLOWANCE</div>
      <div style="width: 12%">ACTION</div>
      <div></div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allStaff?.content">
        <div></div>
        <div class="content" style="width: 6%">
          <img
            [src]="it?.image"
            style="
              object-fit: cover;
              border-radius: 50%;
              width: 2vw;
              height: 2vw;
              padding-left: 1vw;
            "
          />
        </div>
        <div class="content" style="width: 20%">
          {{ it?.name }}
          <div style="font-size: 0.8vw; color: gray">{{ it?.type }}</div>
        </div>
        <div class="content" style="width: 12%">{{ it?.empId }}</div>
        <div class="content" style="width: 12%">{{ it?.joiningDate }}</div>
        <div class="content" style="width: 12%">{{ it?.phone }}</div>
        <div class="content" style="width: 12%">{{ it?.email }}</div>
        <div class="content" style="width: 12%">{{ it?.isSystemUser }}</div>
        <div></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allStaff?.paging"></app-table-paging>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<div class="tableBody" *ngIf="page === 'payRun'">
  <div class="table">
    <div class="header">
      <div></div>
      <div style="width: 6%"></div>
      <div style="width: 20%">STAF NAME</div>
      <div style="width: 12%">EMPLOYEE#</div>
      <div style="width: 12%">JOINING DATE</div>
      <div style="width: 8%">PHONE NUMBER</div>
      <div style="width: 12%">EMAIL</div>
      <div style="width: 12%">ADVANCE</div>
      <div></div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allStaff?.content">
        <div></div>
        <div class="content" style="width: 6%">
          <img
            [src]="it?.image"
            style="
              object-fit: cover;
              border-radius: 50%;
              width: 2vw;
              height: 2vw;
              padding-left: 1vw;
            "
          />
        </div>
        <div class="content" style="width: 20%">
          {{ it?.name }}
          <div style="font-size: 0.8vw; color: gray">{{ it?.type }}</div>
        </div>
        <div class="content" style="width: 12%">{{ it?.empId }}</div>
        <div class="content" style="width: 12%">{{ it?.joiningDate }}</div>
        <div class="content" style="width: 8%">{{ it?.phone }}</div>
        <div class="content" style="width: 12%">{{ it?.email }}</div>
        <div class="content" style="width: 12%">{{ it?.status }}</div>
        <div></div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allStaff?.paging"></app-table-paging>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<div class="formBlankScreen1" *ngIf="page === 'employeeForm'"></div>
<div [ngClass]="page === 'employeeForm' ? 'employeeForm' : 'employeeForm_'">
  <div class="header">
    NEW EMPLOYEE
    <div class="closeBtn" (click)="page = 'staffMaster'"></div>
  </div>
  <div class="body">
    <div class="leftBody">
      <div class="profileContainer">
        <div class="profile"></div>
      </div>
      <div class="rightTitle_">Basic Information</div>
      <div class="rightTitle">System Information</div>
      <div class="rightTitle">Credentials</div>
    </div>
    <div class="rightBody">
      <div class="leftTitle">BASIC INFORMATION</div>
      <div class="formSubBody">
        <div>User Name*</div>
        <input class="input" placeholder="Enter name" />
      </div>
      <div class="leftTitle">SYSTEM INFORMATION</div>
      <div class="leftTitle">CREDENTIALS</div>
    </div>
  </div>
  <div class="footer">
    <div class="errorMsg">Delete</div>
    <div class="btns">
      <div class="cancelBtn" (click)="page = 'staffMaster'">CANCEL</div>
      <div class="saveBtn" (click)="onClickSaveEmployeeForm()">SAVE</div>
    </div>
  </div>
</div>
