
/* ////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */
.downloadButton {
  width: 2vw;
  height: 2vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../../assets/icDownload.svg);
  margin: 0 0vw;
  cursor: pointer;
}
.exlDwnld {
  font-size: 0.9vw;
}
.exlUpld {
  margin: 0 1vwf;
  font-size: 0.7vw;
  text-align: center;
  border: 0.1vw dashed #113d77;
  background-color: #dfe7f2;
  border-radius: 0.4vw;
  padding: 0.2vw 0.6vw;
  cursor: pointer;
}
.exlUpld input {
  display: none;
}
.exlDwnldBtn,
.exlUpldBtn {
  height: 2vw;
  width: 2vw;
  border-radius: 0.4vw;
  background-color: #406ca5;
  margin-left: 1vw;
  margin-right: 2vw;
  cursor: pointer;
  background-image: url(../../../assets/ic_download2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.exlUpldBtn {
  background-image: url(../../../assets/ic_upload.svg);
}
