<!-- ///////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////// MANUAL INVOICE ///////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////// -->
<div class="drawer">
  <div class="dummyBody"></div>
  <div class="body">
    <div class="header">
      Manual Invoice
      <div class="closeBtn"></div>
    </div>
  </div>
</div>
