<div class="bodyHeader" *ngIf="page === 'localAccount'">
  <div class="titile" (click)="onChangePage('')">
    Operations > Local Account
  </div>
  <div class="navRow">
    <div class="navBar">
      <div class="eachButton_">
        Customers
        <div class="buttonBottom_"></div>
      </div>
    </div>
    <div style="display: flex">
      <input placeholder="Search an invoice" class="defaultInput" />
      <div class="downloadButton"></div>
      <!-- <div class="grrenButton" (click)="popUp = 'addCustomer'">
        Add Customer
      </div> -->
    </div>
  </div>
</div>
<div class="tableBody" *ngIf="page === 'localAccount'">
  <div class="table">
    <div class="header">
      <div style="width: 8%">AC NO</div>
      <div style="width: 10%">NAME</div>
      <div style="width: 10%">CONTACT NUMBER</div>
      <div style="width: 20%">ADDRESS</div>
      <div style="width: 10%">DISCOUNT%</div>
      <div style="width: 10%">CREDIT LIMIT</div>
      <div style="width: 8%">BALANCE</div>
      <div style="width: 8%">STATUS</div>
    </div>
    <div class="body">
      <div
        class="row"
        *ngFor="let it of allLocalAccount?.content"
        (click)="onClickAnyAccount(it)"
      >
        <div style="width: 8%">{{ it?.acNo }}</div>
        <div style="width: 10%; color: var(--myColor)">{{ it?.name }}</div>
        <div style="width: 10%">{{ it?.phone }}</div>
        <div style="width: 20%">{{ it?.address }}</div>
        <div style="width: 10%">{{ it?.discount }}</div>
        <div style="width: 10%">{{ it?.creditLimit }}</div>
        <div
          style="width: 8%"
          [ngStyle]="{ color: it?.balance < 0 ? 'red' : 'green' }"
        >
          {{ it?.balance }}
        </div>
        <div
          style="width: 8%"
          [ngStyle]="{ color: it?.status === 'Blocked' ? 'red' : 'green' }"
        >
          {{ it?.status }}
        </div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allLocalAccount?.paging"></app-table-paging>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<div
  class="pageTitle"
  (click)="onChangePage('')"
  *ngIf="page === 'selectedAccount'"
>
  <div class="arrowBack" (click)="page = 'localAccount'"></div>
  {{ selectedAccount?.name }}
</div>
<div
  style="background-color: #f9f9f9; padding-top: 1vw"
  *ngIf="page === 'selectedAccount'"
>
  <div class="loaclAccountDetails">
    <div class="addressArea">
      <div class="name">{{ selectedAccount?.name }}</div>
      <div class="accountNo">Account no: {{ selectedAccount?.name }}</div>
      <div class="phone">{{ selectedAccount?.phone }}</div>
      <div class="address">{{ selectedAccount?.address }}</div>
    </div>
    <div class="creditArea">
      <div>Credit Limit</div>
      <div style="font-size: 2vw; color: #249e00">
        {{ selectedAccount?.creditLimit?.toLocaleString() }}
      </div>
    </div>
    <div class="balanceArea">
      <div>Balance</div>
      <div style="font-size: 2vw; color: #00649e">
        {{ selectedAccount?.balance?.toLocaleString() }}
      </div>
    </div>
    <div class="blueButton" (click)="popUp = 'recordPayment'">
      + RECORD PAYMENT
    </div>
  </div>
  <div class="bodyHeader">
    <div class="navRow">
      <div class="navBar">
        <div
          [ngClass]="tab === 0 ? 'eachButton_' : 'eachButton'"
          (click)="tab = 0"
        >
          Transaction
          <div [ngClass]="tab === 0 ? 'buttonBottom_' : 'buttonBottom'"></div>
        </div>
        <div
          [ngClass]="tab === 1 ? 'eachButton_' : 'eachButton'"
          (click)="tab = 1"
        >
          Vehicle Details
          <div [ngClass]="tab === 1 ? 'buttonBottom_' : 'buttonBottom'"></div>
        </div>
      </div>
      <div style="display: flex">
        <input placeholder="Search an invoice" class="defaultInput" />
        <div class="downloadButton"></div>
      </div>
    </div>
  </div>
</div>
<div class="tableBody" *ngIf="page === 'selectedAccount' && tab == 0">
  <div class="table" style="height: calc(100vh - 26vw)">
    <div class="header">
      <div style="width: 8%">DATE</div>
      <div style="width: 10%">REFERENCE</div>
      <div style="width: 10%">NOTE</div>
      <div style="width: 20%; text-align: right">AMOUNT</div>
      <div style="width: 10%; text-align: right">PAYMENT</div>
      <div style="width: 10%; text-align: right">BALANCE</div>
    </div>
    <div class="body">
      <div class="row" *ngFor="let it of allTransation?.content">
        <div style="width: 8%">{{ it?.date }}</div>
        <div style="width: 10%; color: #054468">{{ it?.reference }}</div>
        <div style="width: 10%; color: #054468">{{ it?.note }}</div>
        <div style="width: 20%; text-align: right">{{ it?.amount }}</div>
        <div style="width: 10%; text-align: right">{{ it?.payment }}</div>
        <div style="width: 10%; text-align: right">{{ it?.balance }}</div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allTransation?.paging"></app-table-paging>
</div>
<div class="tableBody" *ngIf="page === 'selectedAccount' && tab == 1">
  <div class="table" style="height: calc(100vh - 26vw)">
    <div class="header">
      <div style="width: 8%">SR NO</div>
      <div style="width: 20%">AC NO</div>
      <div style="width: 20%">NAME</div>
      <div style="width: 10%">CONTACT NUMBER</div>
      <div style="width: 12%; text-align: center">STATUS</div>
    </div>
    <div class="body">
      <div
        class="row"
        *ngFor="let it of allVechileDetails?.content; let k = index"
      >
        <div style="width: 8%">{{ k + 1 }}</div>
        <div style="width: 20%">{{ it?.vechileNumber }}</div>
        <div style="width: 20%">
          {{ it?.vechileType }}
        </div>
        <div style="width: 10%">{{ it?.RFIDTagNumber }}</div>
        <div style="width: 12%">
          <select
            name=""
            id=""
            [value]="it?.status"
            [ngStyle]="{ color: it?.status === 'Suspended' ? 'red' : 'green' }"
            (change)="onChangeStatus($event, k)"
          >
            <option>Active</option>
            <option>Suspended</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <app-table-paging [paging]="allVechileDetails?.paging"></app-table-paging>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<div class="formBlankScreen1" *ngIf="popUp === 'recordPayment'"></div>
<div [ngClass]="popUp === 'recordPayment' ? 'drowerForm' : 'drowerForm_'">
  <div class="header">
    Add Customer
    <div class="closeBtn" (click)="popUp = ''"></div>
  </div>
  <div class="body">
    <div style="display: flex; align-items: center">
      <div class="formTitle" style="width: 30%">Payment type</div>
      <div class="formTitle" style="padding-left: 0.3vw; width: 30%">
        Amount Received *
      </div>
      <div class="formTitle" style="padding-left: 0.3vw; width: 30%">
        Balance Amount
      </div>
    </div>
    <div style="display: flex; align-items: center; margin: 0 2vw">
      <select type="number" style="margin: 0.3vw; width: 30%">
        <option>Select payment type</option>
      </select>
      <input
        placeholder="0.00"
        type="number"
        style="margin: 0.3vw; width: 30%"
      />
      <input
        type="number"
        placeholder="0.00"
        style="margin: 0.3vw; width: 30%"
      />
    </div>
    <div style="margin: 0 2vw">
      <div class="formTitle" style="padding-left: 0.3vw; width: 100%">Note</div>
      <textarea
        placeholder="Enter a note against this transaction"
        style="margin: 0.3vw; width: 100%"
      ></textarea>
    </div>
    <div style="margin: 0 2vw">
      <div class="formTitle" style="padding-left: 0.3vw; width: 100%">
        Payment Method *
      </div>
      <div style="display: flex">
        <div
          (click)="recordPaymenForm.paymentMethod = 'cash'"
          [ngClass]="
            recordPaymenForm?.paymentMethod === 'cash'
              ? 'blueButton'
              : 'lightBlueButton'
          "
        >
          CASH
        </div>
        <div
          (click)="recordPaymenForm.paymentMethod = 'upi'"
          [ngClass]="
            recordPaymenForm?.paymentMethod === 'upi'
              ? 'blueButton'
              : 'lightBlueButton'
          "
        >
          UPI
        </div>
        <div
          (click)="recordPaymenForm.paymentMethod = 'card'"
          [ngClass]="
            recordPaymenForm?.paymentMethod === 'card'
              ? 'blueButton'
              : 'lightBlueButton'
          "
        >
          CARD
        </div>
      </div>
    </div>
    <div style="margin: 0 2vw">
      <div class="formTitle" style="padding-left: 0.3vw; width: 100%">
        Transaction details
      </div>
      <input
        placeholder="Enter transaction id"
        style="margin: 0.3vw; width: 100%"
      />
    </div>
    <br />
    <br />
  </div>
  <div class="footer">
    <div class="cancelBtn" (click)="popUp = ''">CANCEL</div>
    <div class="saveBtn">CONFIRM</div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////// -->
<!-- <div class="formBlankScreen1" *ngIf="popUp === 'addCustomer'"></div>
<div [ngClass]="popUp === 'addCustomer' ? 'drowerForm' : 'drowerForm_'">
  <div class="header">
    Add Customer
    <div class="closeBtn" (click)="popUp = ''"></div>
  </div>
  <div class="body">
    <div class="contentHeader">BASIC INFORMATION</div>
    <div class="formTitle">Account Number</div>
    <input placeholder="Enter account number here" />
    <div class="formTitle">Customer Name</div>
    <input placeholder="Enter customer name here" />
    <div class="formTitle">Contact Number</div>
    <input placeholder="Enter contact number here" />
    <div class="formTitle">Email address</div>
    <input placeholder="Enter email address here" />
    <div class="formTitle">Address</div>
    <textarea placeholder="Address..."></textarea>
    <div class="formTitle">Pin Code</div>
    <input placeholder="Pin Code" />
    <br />
    <br />
    <div class="contentHeader">OTHER INFORMATION</div>
    <div class="formTitle">Discount</div>
    <div style="display: flex; align-items: center">
      <input type="number" placeholder="0.00" style="width: 45%" />
      <div style="display: flex; font-size: 0.9vw">Block all cards</div>
    </div>
    <div style="display: flex; align-items: center">
      <div class="formTitle" style="width: 48%">Credit limit</div>
      <div class="formTitle" style="width: 48%">Credit Duration</div>
    </div>
    <div style="display: flex; align-items: center">
      <input type="number" placeholder="0.00" style="width: 48%" />
      <input type="number" placeholder="0.00" style="width: 48%" />
    </div>
    <br />
    <br />
    <div class="contentHeader">CARD HOLDER INFORMATION</div>
    <div style="display: flex; align-items: center">
      <div class="formTitle" style="width: 15%">Holder Number</div>
      <div class="formTitle" style="padding-left: 0.3vw; width: 19%">
        Holder Name
      </div>
      <div class="formTitle" style="padding-left: 0.3vw; width: 19%">
        Card Number
      </div>
      <div class="formTitle" style="padding-left: 0.3vw; width: 19%">Note</div>
      <div class="formTitle" style="padding-left: 0.3vw; width: 19%">
        Status
      </div>
    </div>
    <div style="display: flex; align-items: center; margin: 0 2vw">
      <input type="number" placeholder="0" style="margin: 0.3vw; width: 15%" />
      <input placeholder="Card holder name" style="margin: 0.3vw; width: 19%" />
      <input
        type="number"
        placeholder="Card number"
        style="margin: 0.3vw; width: 19%"
      />
      <input placeholder="Note" style="margin: 0.3vw; width: 19%" />
      <select style="margin: 0.3vw; width: 19%">
        <option hidden>Select Status</option>
      </select>
    </div>
    <br />
    <br />
  </div>
  <div class="footer">
    <div class="cancelBtn" (click)="popUp = ''">CANCEL</div>
    <div class="saveBtn">ADD</div>
  </div>
</div> -->
