.formBlankScreen1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000088;
}
.drowerForm,
.drowerForm_ {
  transition: 0.3s;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 45vw;
  background-color: white;
}
.drowerForm_ {
  right: -45vw;
}
.drowerForm .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2vw;
  background-color: #e1e2e5;
  padding: 0.7vw 1.2vw;
  font-weight: bold;
  color: var(--myColor);
}
.drowerForm .closeBtn {
  width: 1.4vw;
  height: 1.4vw;
  cursor: pointer;
  background-image: url(../../../assets/ic_x.svg);
  background-position: center;
  background-size: 1.2vw;
  background-repeat: no-repeat;
}

.pageTitle {
  background-color: white;
  border-bottom: 0.1vw solid #7070705d;
  padding: 0.6vw 1vw;
  font-size: 1.4vw;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.arrowBack {
  width: 1.2vw;
  height: 1.2vw;
  background-size: contain;
  background-image: url(../../../assets/ic_arrow1.svg);
  background-position: center;
  cursor: pointer;
  margin-right: 0.6vw;
}
/* //////////////////////////////////////////////// */
.drowerForm .contentHeader {
  font-size: 1vw;
  padding: 0.8vw 1.5vw;
  background-color: #d9e8ff;
}
.drowerForm .body {
  height: calc(100vh - 6.4vw);
  overflow: auto;
  background-color: #f5f6f9;
  box-sizing: border-box;
}
.drowerForm .formTitle {
  font-size: 0.9vw;
  padding-top: 1.2vw;
  padding-left: 2.3vw;
  padding-bottom: 0.3vw;
}
.drowerForm input,
textarea,
select {
  margin: 0 2vw;
  width: 90%;
  padding: 0.5vw 0.8vw;
  background-color: white;
  border-radius: 0.3vw;
  border: none;
  box-sizing: border-box;
}
/* //////////////////////////////////////////////// */
.drowerForm .footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.8vw 1.2vw;
  background-color: #eceff4;
}
.drowerForm .cancelBtn {
  margin: 0 0.5vw;
  border-radius: 0.3vw;
  padding: 0.4vw 1.5vw;
  background-color: #c9e1ff;
  color: var(--myColor);
  cursor: pointer;
  font-weight: 500;
}
.drowerForm .saveBtn {
  margin: 0 0.5vw;
  background-color: var(--myColor);
  border-radius: 0.3vw;
  padding: 0.4vw 1.5vw;
  cursor: pointer;
  font-weight: 500;
  color: white;
}
/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////// */
.loaclAccountDetails {
  margin: 1vw;
  margin-top: 0;
  padding: 1vw 2vw;
  box-sizing: border-box;
  border-radius: 0.6vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
}
.loaclAccountDetails .addressArea {
  width: 20%;
}
.loaclAccountDetails .name {
  font-size: 1.4vw;
  color: #054468;
  padding-bottom: 0.3vw;
  font-weight: 500;
}
.loaclAccountDetails .accountNo {
  font-size: 1.1vw;
  color: #333333;
  padding-bottom: 0.3vw;
}
.loaclAccountDetails .phone {
  font-size: 0.8vw;
  color: #333333;
  padding-bottom: 0.3vw;
}
.loaclAccountDetails .address {
  font-size: 0.75vw;
  color: #333333;
}
.loaclAccountDetails .creditArea,
.loaclAccountDetails .balanceArea {
  margin-top: 1.5vw;
  padding-left: 3.6vw;
  background-image: url(../../../assets/localAcc/credit.svg);
  background-position: left;
  background-size: 2.6vw;
  background-repeat: no-repeat;
  font-size: 0.88vw;
  font-weight: 400;
  color: #3f4147;
}
.loaclAccountDetails .balanceArea {
  background-image: url(../../../assets/localAcc/balance.svg);
}
