<div class="pageTitle">DASHBOARD</div>
<div class="navBar">
  <div [ngClass]="page === 0 ? 'navBarEach_' : 'navBarEach'" (click)="page = 0">
    Forecort area
    <div [ngClass]="page === 0 ? 'navBarEachLine_' : 'navBarEachLine'"></div>
  </div>
  <div [ngClass]="page === 1 ? 'navBarEach_' : 'navBarEach'" (click)="page = 1">
    C - Store area
    <div [ngClass]="page === 1 ? 'navBarEachLine_' : 'navBarEachLine'"></div>
  </div>
</div>
<app-forecort *ngIf="page === 0"></app-forecort>
<app-c-store *ngIf="page === 1"></app-c-store>
