/* ///////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////// */
.body {
  display: flex;
  flex-wrap: wrap;
  padding: 0.8vw;
}
.eachTank {
  width: 46.4%;
  margin: 0.4vw;
  padding: 1.2vw;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 0.8vw;
  border: 0.1vw dashed #fff;
}

.col1 {
  width: 35%;
  height: 12vw;
  background-position: 2vw 2.5vw;
  background-size: 85%;
  background-repeat: no-repeat;
  background-image: url(../../../assets/tank/0.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.col1 .title {
  display: flex;
  padding-left: 2vw;
  font-weight: 500;
  font-size: 1vw;
  text-align: start;
  width: 100%;
}
.col1 .tankPesentage {
  text-align: center;
  font-size: 1.7vw;
  font-weight: 500;
  padding: 0.3vw 0.6vw;
  border-radius: 0.2vw;
  background-color: #ffffffb5;
  margin-top: 4.5vw;
  margin-left: 1.4vw;
}
.eachTank ._10 {
  background-image: url(../../../assets/tank/1.gif);
}
.eachTank ._20 {
  background-image: url(../../../assets/tank/2.gif);
}
.eachTank ._30 {
  background-image: url(../../../assets/tank/3.gif);
}
.eachTank ._40 {
  background-image: url(../../../assets/tank/4.gif);
}
.eachTank ._50 {
  background-image: url(../../../assets/tank/5.gif);
}
.eachTank ._60 {
  background-image: url(../../../assets/tank/6.gif);
}
.eachTank ._70 {
  background-image: url(../../../assets/tank/7.gif);
}
.eachTank ._80 {
  background-image: url(../../../assets/tank/8.gif);
}
.eachTank ._90 {
  background-image: url(../../../assets/tank/9.gif);
}
.eachTank ._100 {
  background-image: url(../../../assets/tank/10.gif);
}
.lockIcon,
.lockIcon_ {
  position: absolute;
  right: 0.1vw;
  bottom: 1.2vw;
  width: 2.1vw;
  height: 2.1vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../../assets/ic_lock1.svg);
}
.lockIcon_ {
  background-image: url(../../../assets/ic_locked1.svg);
}
/* ///////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////// */
.col2 {
  width: 60%;
}
.col2 .statusTimeRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2vw;
  padding-bottom: 0.5vw;
}
.col2 .status {
  font-size: 1.1vw;
  font-weight: 500;
  color: #d10707;
}
.col2 .date {
  font-size: 0.9vw;
  padding-left: 1.8vw;
  background-size: 0.9vw;
  background-position: 0.1vw;
  background-repeat: no-repeat;
  background-image: url(../../../assets/ic_time.svg);
  font-weight: 500;
}
.col2 .eachDetailsContainer {
  display: flex;
  flex-wrap: wrap;
}
.col2 .eachDetails {
  margin: 0.5vw 1.3%;
  width: 30%;
  font-size: 1.1vw;
  font-weight: 400;
}
.col2 .title {
  font-size: 0.8vw;
  color: #879aa5;
}
